nav.nav
    if adaptive == true
        button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
        .main-nav__collapse
            +menu(navigation)
            .main-nav__hide
              .main-nav__item
                a.popup(href='#regin-id')
                  span Войти/Регистрация
                  i.icon-exit
    else
        +menu(navigation)
