ul.pagination
    li.pagination__item
        a.pagination__link(href='#')
            i.icon-prev
    li.pagination__item.active
        a.pagination__link(href='#') 1
    - for (var x = 2; x < 6; x++)
        li.pagination__item
            a.pagination__link(href='#')= x
    li.pagination__item
        a.pagination__link(href='#') 
            i.icon-next
