#regin-id.mfp-hide.zoom-anim-dialog.main-popup
  .text--center.is-col__lg-10.centered-block.main-popup-inner
    h3 Вход / Регистрация
    .my50
      form(action="#" method="method")
        .form__group: .text__md.text--lgrey С помощью E-mail и пароля
        .form__group.error
          input.control(type='email', placeholder='E-mail', name='mail', required)
          .data-error Вы ввели не корректный E-mail  
        .form__group
          input.control(type='password', placeholder='Пароль', name='password', required)  
          .data-error Вы ввели неверный пароль 
        .mb25
          a.popup(href='#rest-id') Забыли пароль?
        .is-row.between__xs
          .is-col.form__group: button.btn.btn--danger(type='submit', disabled) Регистрация
          .is-col.form__group: button.btn.btn--primary(type='submit', disabled) Войти
    .form__group.text__md.text--lgrey Или с помошью соц. сетей
    ul.social
      li: a(href='#'): i.icon-fa
      li: a(href='#'): i.icon-goog
      li: a(href='#'): i.icon-tw
      li: a(href='#'): i.icon-vk
      li: a(href='#'): i.icon-odnoklassniki
      li: a(href='#'): i.icon-mail        
        
#rest-id.mfp-hide.zoom-anim-dialog.main-popup
  .text--center.is-col__md-10.centered-block
    h2 Забыли пароль?
    .my50
      form(action="#" method="method")
        .form__group
          input.control(type='email', placeholder='E-mail', name='mail', required)  
        .mb25
          button.btn.btn--primary.btn--full(type='submit', disabled) Напомнить пароль
        .form__group
          a.popup(href='#form-id') Назад
