.slider
    .item
        a.slider-main__item(href='#')
            i.icon-skirt
            span Одежда аксессуары
    .item
        a.slider-main__item(href='#')
            i.icon-tv
            span Техника электроника
    .item
        a.slider-main__item(href='#')
            i.icon-plane
            span Путешествия
    .item
        a.slider-main__item.active(href='#')
            i.icon-list
            span Красоты, здоровье
    .item
        a.slider-main__item(href='#')
            i.icon-world
            span Интернет, связь
    .item
        a.slider-main__item(href='#')
            i.icon-chair
            span Товары для дома
    .item
        a.slider-main__item(href='#')
            i.icon-heart
            span Товары для взрослых
    .item
        a.slider-main__item(href='#')
            i.icon-duck
            span Детские товары
    .item
        a.slider-main__item(href='#')
            i.icon-burger
            span Еда, продукты
    .item
        a.slider-main__item(href='#')
            i.icon-arms
            span Услуги, сервисы
    .item
        a.slider-main__item(href='#')
            i.icon-car
            span Автотовары
    .item
        a.slider-main__item(href='#')
            i.icon-copy
            span Программы
    .item
        a.slider-main__item(href='#')
            i.icon-bird
            span Зоотовары
