ul.sorting
    li Упорядочить по
    li.hidden__sm.hidden__xs: a(href='#') Популярности
    li.hidden__sm.hidden__xs: a(href='#') Размеру кэшбэка
    li.hidden__sm.hidden__xs: a(href='#') Алфавиту
    li.hidden__sm.hidden__xs: a(href='#') Дате добавления
    li
        select
            option Популярности
            option Размеру кэшбэка
            option Алфавиту
            option Дате добавления
