.tabs
    ul.tabs__caption
        li.active Информация
        li Акции
    .tabs__content.active
        .is-col__lg-10.centered-block
            .is-row.between__xs
                .is-col.is-col__lg-5.is-col__xs-12
                    h5 Обратите внимание
                    p.text--danger: b Cash Back будет начислен за каждую сделанную покупку в интернет-магазине партнера только в том случае, если вы перейдете с сайта Switips.ru в этот интернет-магазин. Оплатить свою покупку вы можете любым способом, который предлагается в интернет-магазине партнера.
                    p Начисленный вам Cash Back будет доступен для перечисления через: #[span.text--danger 90 дней] после совершения покупки
                    p Cash Back начисляется только в рублях по курсу ЦБ РФ
                    h5 Важно
                    p Обращаем ваше внимание, что по Aliexpress и Молния (Раздел Молл на сайте Aliexpress - доставка товаров из России) действую особые требования по начислению кэшбэка. Покупка должна быть осуществлена в рамках одного перехода на сайт интернет-магазина. Это значит, что если вы перешли на сайт интернет-магазина Aliexpress, покупка должна быть сделана при пустой корзине и не закрывая окна. В случае, если вы закроете окно (сессия будет прервана) через какое-то время откроете окно интернет-магазина снова и оплатите покупку, то кэшбэк начислен не будет. Если вы прервали сессию, т.е. закрыли и открыли сайт интернет-магазина повторно через переход с нашего сайта, то очистите корзину и совершите выбор товара и его оплату не закрывая окна.
                .is-col.is-col__lg-5.is-col__xs-12
                    h5 Дополнительные условия
                    ul.list--bullet
                        li оплаченные заказы с товарами из категории Мобильные телефоны - 2.1%.
                        li оплаченные заказы из всех категорий ( за исключением категории Мобильные телефоны)-4.2%.
                        li товары, которые не участвуют в партнерской программе (Неаффилиатные товары/non-affiliated products) оплачиваются по фиксированной ставке 1.4%. Неаффилиатные товары интернет-магазина Aliexpress определяет самостоятельно, исходя из договоров с поставщиками. 
                    div Оплаченный заказ из раздела Tmall (Раздел Tmall на сайте Aliexpress):
                        ul.list--bullet
                            li Телевизоры -1.33%;
                            li Смартфоны (Apple) -0.98%;	
                            li Смартфоны -1.96%;
                            li Планшеты -1.75%;	
                            li Компьютеры -1.4%;
                            li Другие товары из категории бытовая техника -1.75%;
                            li Другие категории -1.75%;	
                            li Бытовая техника -1.4%;	
                            li Аудио- и видеотехника -1.54%.
                    div Cash back НЕ начисляется за:
                        ul.list--bullet
                            li оплаченные заказы с использованием подарочных сертификатов;
                            li за пополнение мобильного счета в приложении Aliexpress.
    .tabs__content
        +cards(shares2)
