//
// Partials -> Aside
// ------------------------------------


.filter-dropdown {
    position: relative;
    background: url(../images/down-arrow.svg) no-repeat center right 15px;
    &.active {
        background: url(../images/close.svg) no-repeat center right 15px;
        .filter-dropdown-input {
            color: $base-color-main;
            border-color: $base-color-main;
        }
    }
    &-body {
        position: absolute;
        top: 0;
        left: 0;
        max-height: 400px;
        background-color: #fff;
        border: solid 1px #d9d9e4;
        border-radius: 20px;
        overflow: auto;
        padding: 10px 20px;
        display: none;
        font-size: 18px;
        color: #8a8b9b;
        width: 280px;
        z-index: 19;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
        @media screen and (min-width: $screen-md) {
            width: 320px;
        }
        &:after {
            content: '';
            transform: rotate(180deg);
            position: absolute;
            right: 15px;
            top: 20px;
            width: 24px;
            height: 14px;
            background: url(../images/down-arrow.svg) no-repeat center;
        }
        input {
            height: 30px;
            padding: 0;
            border: 0;
            border-radius: 0;
            color: rgba(44, 29, 93, 0.3);
            font-family: 'MSlight';
            margin-bottom: 20px;
        }
    }
    &-input {
        @extend .control;
        overflow: hidden;
        padding: 11px 50px 11px 20px;
        color: #d9d9e4;
        line-height: 1.2;
        text-align: left;
        min-width: 180px;
        background-color: transparent;
        @media screen and (min-width: $screen-md) {
            line-height: 1.7;
        }
    }
    .multiSel {
        display: none;
    }
    ul {
        .checkbox {
            display: block;
        }
        li + li {
            margin-top: 20px;
        }
   }
}
