//
// Partials -> Header
// ------------------------------------
a {
  span, i {
    vertical-align: middle;
  }
  span + i {
    margin-left: 10px;
  }
}

//
// Header
//
.nav {
  @media screen and (min-width: $screen-md) {
    width: 350px;
  }
  @media screen and (min-width: $screen-lg) {
    width: 300px;
  }
  @media screen and (min-width: $screen-xl) {
    width: 380px;
  }
}
.page-header {
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #e0e1f9;
  letter-spacing: 2px;
  padding: 25px 0;
  z-index: 99;
  font-family: 'MSbold';
  top: -100px;
  @include transition();
  &.fixed {
      left: 0;
      right: 0;
      top: 0;
      position: fixed;
  }
  @media screen and (min-width: $screen-md) {
    padding: 0;
  }
  @media screen and (min-width: $screen-lg) {
    font-size: 14px;
  }
  .container {
    display: flex;
    @extend .between__xs;
    @extend .middle__xs;
    //height: 100%;
    @media screen and (min-width: $screen-sm) {
        width: 510px;
    }
    @media screen and (min-width: $screen-md) {
        width: 710px;
    }
    @media screen and (min-width: $screen-lg) {
        width: 955px;
    }
    @media screen and (min-width: $screen-xl) {
        width: 1380px;
    }
  }
  &__soc {
    margin-top: 90px;
    @media screen and (min-width: $screen-sm) {
      margin-top: 40px;
    }
    ul {margin-bottom: 0;}
    i {
      color: $white-lighten;
      font-size: 24px;
      margin: 0 15px 0 0;
    }
  }
  &__logo {
    a {text-decoration: none;display: block;}
    width: 150px;
    @media screen and (min-width: $screen-md) {
      width: auto;
    }
    .tablet {
        display: none;
        @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
         display: block;
        }
    }
    .non-tablet {
        @media screen and (min-width: $screen-md) and (max-width: $screen-md-max) {
         display: none;
        }
    }
  }
  &__link {
    display: none;
    @extend .text--uppercase;
    @media screen and (min-width: $screen-md) {
      display: flex;
      @extend .end__xs;
      @extend .middle__xs;
    }
    &--rub {
         letter-spacing: normal;
        font-size: 16px;
        margin-right: 32px;
    }
    span {
        display: none;
        @media screen and (min-width: $screen-lg) {
            display: inline;
        }
        span {
           display: none;
           @media screen and (min-width: $screen-xl) {
               display: inline;
           }
       }
    }
    a {
      color: $white-lighten;
      @media screen and (min-width: $screen-md) {
        color: $base-color-main;
      }
    }
    @media screen and (min-width: $screen-xl) {
      width: 300px;
    }
    @extend .text--right__md;
    i {
      @extend .text__lg;
    }
    &--ava {
        margin-right: 24px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
        }
    }
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
