//
// Partials -> Main
// ------------------------------------

@if $use-adaptive == false {
  header, main, footer {
    min-width: $container-xl;
  }
}

body.fixed {
    overflow: hidden;
}


.ruble {
    font-family: 'Geometria';
    font-size: 90%;
}

.margins {
  margin: 80px 0;
  @media screen and (min-width: $screen-md) {
    margin: 100px 0;
  }
}

.title {
    font-size: 18px;
    @media screen and (min-width: $screen-md) {
        font-size: 29px;
    }
    @media screen and (min-width: $screen-lg) {
        font-size: 36px;
    }
    sup {
        font-size: 12px;
        color: rgba(44, 29, 93, 0.3);
        top: -15px;
        position: relative;
    }
}

//
// Main container
//
.page-main {
    overflow: hidden;
    // margin-top: 80px;
}



.relative {position: relative;}


.slider-arrow-right {
  left: 10px;
  @media screen and (min-width: $screen-lg) {
     left: 9px;
  }
}
.slider-arrow-left {
  right: 0;
  @media screen and (min-width: $screen-lg) {
     right: 9px;
  }
}
.slider-arrows {
  &-right {
    position: absolute;
    top: 0;
    left: 0;
    @media screen and (min-width: $screen-lg) {
      top: 44%;
      left: -22%;
    }
  }
  &-left {
    position: absolute;
    top: 0;
    right: 0;
    @media screen and (min-width: $screen-lg) {
      top: 44%;
      right: -22%;
    }
  }
}


.info {
  color: #49495a;
  margin-top: 40px;
  margin-bottom: 40px;
  @media screen and (min-width: $screen-lg) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  h1 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  p {
    font-family: 'MSreg';
    margin-bottom: 30px;

  }
  b {
    font-family: 'MSbold';
}
  h4 {
    font-family: 'MSbold';
    margin-bottom: 15px;
  }
  ol {
    list-style: none;
    counter-reset: li;
    font-family: 'MSreg';
    line-height: 1.3;
    li {
        margin-bottom: 30px;
    }
    ul,
    ol {
        margin-left: 10px;
        li {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    > li:before {
      counter-increment: li;
      content: counters(li,".") ". ";
      font-family: 'MSbold';
    }
  }
  ul {
    list-style: none;
    font-family: 'MSreg';
    li:before {
      content: "- ";
    }
    &.bullet {
        li:before {
          content: "• ";
        }
    }
  }
}

.reviews {
  @extend .text--center;
  @extend .margins;
  .slick-slide {
    margin: 0 10px;
  }
  &-block {
    margin-top: 40px;
    @media screen and (min-width: $screen-md) {
      margin-top: 70px;
    }
    @media screen and (min-width: $screen-lg) {
      margin-top: 130px;
    }
    &-mb {
      height: 100px;
      .slick-slide {
        @include transition();
      }
      .reviews__item-ava {
        margin-top: 8px;
      }
      .reviews__item-group {
        height: 100px;
      }
      .slick-active {
        transform: scale(1.2);
        .reviews__item-ava {
          border-color: $base-color-main;
        }
      }
      .slick-slide:not(.slick-active) {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        .reviews__item-name {
          opacity: 0;
        }
      }
    }
  }
  &__item {
    font-family: 'MSmed';
    display: flex;
    flex-wrap: wrap;
    @extend .between__md;
    @extend .center__xs;
    @media screen and (min-width: $screen-md) and (max-width: $screen-md-max){
        display: flex !important;
    }
    @media screen and (min-width: $screen-lg) {
      display: block;
    }
    &-txt {
      color: #8688a5;
      padding: 15px;
      @extend .text--left;
      border: solid 2px $base-color-main;
      @include border-radius(20px);
      position: relative;
      margin-bottom: 40px;
      @media screen and (min-width: $screen-md) {
        padding: 20px 30px;
      }

      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: $base-color-main transparent transparent transparent;
        position: absolute;
        bottom: -30px;
        left: 10px;right: 0;
        margin: auto;
      }
      &::after {
        bottom: -26px;
        border-width: 27px 26px 0 0;
        border-color: $white-lighten transparent transparent transparent;
      }
      @media screen and (min-width: $screen-md) and (max-width: $screen-md-max){
        border-radius: 0 20px 20px 20px;
        order: 1;
        width: 75%;
        &::before,
        &::after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 25px 25px 0;
          border-color: transparent $base-color-main transparent transparent;
          position: absolute;
          top: -2px;
          bottom: auto;
          right: auto;
          left: -25px;
          margin: auto;
        }
        &::after {
          top: 0;
          left: -21px;
          border-width: 0 23px 23px 0;
          border-color: transparent $white-lighten transparent transparent;
        }
      }
    }
    &-ava {
      width: 60px;
      display: inline-block;
      height: 60px;
      background-color: #d8d8d8;
      border: solid 2px #e0e1f9;
      overflow: hidden;
      @include border-radius(50%);
    }
    &-name {
      color: #8688a5;
    }
  }
}
