//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: none;
    padding-left: 0;
    margin: 40px 0 70px;
    border-radius: $border-radius-base;
    text-align: center;
    @media screen and (min-width: $screen-md) {
        display: block;
    }

    &__item {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
        margin: 0 2px;
        &:first-child {
            a {
                margin-left: 0;
            }
        }
    }

    &__link {
      position: relative;
      font-size: 18px;
      float: left;
      width: 50px;
      padding: 11px 15px;
      line-height: $base-line-height;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      @include border-radius(20px);
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
        text-decoration: none;
      }
      i {
          font-size: 24px;
          line-height: 1;
      }
    }

    &__item.active a {
      &,
      &:hover,
      &:focus {
        color: $pagination-active-color;
        cursor: default;
      }
    }
  }
}
