//
// Pages -> Index
// ------------------------------------

.cards {
    &-items {
        @media screen and (min-width: $screen-lg) {
            column-count: 2;
            column-gap: 20px;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        @extend .between__xs;
        align-items: stretch;
        padding: 20px;
        @media screen and (min-width: $screen-md) {
            padding: 30px 55px;
        }
        @media screen and (min-width: $screen-lg) {
            padding: 25px;
        }
        @media screen and (min-width: $screen-xl) {
            padding: 40px;
        }
    }
    &__item {
        text-decoration: none;
        border: 1px solid #d5d5e1;
        border-radius: 15px;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
        line-height: 1.21;
        overflow: hidden;
        position: relative;
        &-l {
            @extend .is-col__xs-12;
            @extend .is-col__md-3;
            text-align: center;
            display: flex;
            @extend .between__xs;
            @extend .middle__xs;
            @media screen and (min-width: $screen-md) {
                flex-direction: column;
                max-width: 120px;
            }
        }
        &-r {
            @extend .is-col__xs-12;
            @extend .is-col__md-8;
            padding-right: 5px;
            text-align: left;
            display: flex;
            flex-direction: column;
        }
        &-num {
            font-size: 36px;
            color: #49495a;
            white-space: nowrap;
        }
        &-tip {
          color: #ff3b53;
          font-size: 14px;
          text-align: right;
          @media screen and (min-width: $screen-md) {
              margin: 15px;
              text-align: center;
          }
        }
        &-name {
            color: #8a8b9b;
            font-size: 14px;
            margin-bottom: 30px;
        }
        &-link {
            font-size: 14px;
            text-transform: uppercase;
            margin-top: auto;
            letter-spacing: 2px;
            &:first-child {
                order: 1;
                @media screen and (min-width: $screen-md) {
                    order: 0;
                }
            }
        }
        &-logo {
            margin: 40px auto;
            @media screen and (min-width: $screen-md) {
                margin: 0;
                width: 100px;
            }
        }
        &-title {
            font-size: 18px;
            color: #49495a;
            font-family: 'MSbold';
            margin: 27px 0 15px;
        }
        &-news {
            font-size: 14px;
            letter-spacing: 2px;
            color: #ffffff;
            border-radius: 8px;
            background-color: #ff3b53;
            text-transform: uppercase;
            padding: 5px;
            position: absolute;
            right: 20px;
            top: 20px;
        }
        &-hidden {
            display: none;
            width: 100%;
            font-size: 14px;
            text-align: left;
            margin-top: 30px;
            position: relative;
            &::after {
                content: '';
                width: 140%;
                height: 1px;
                border-top: solid 1px #e0e1f9;
                position: absolute;
                left: -40px;
                top: 0;
            }
            .triangle {
                &::after,
                &::before {
                    content: '';
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 14px 15px 14px;
                    border-color: transparent transparent #fff transparent;
                    position: absolute;
                    top: -14px;
                    right: 45px;
                    z-index: 9;
                    @media screen and (min-width: $screen-md) {
                        right: 0;
                        left: -80px;
                        margin: auto;
                    }
                }
                &::before {
                    top: -15px;
                    border-color: transparent transparent #e0e1f9 transparent;
                }
            }
            .btn {
                font-size: 14px;
                width: 100%;
                padding: 11px 3px;
                margin-top: 10px;
                @media screen and (min-width: $screen-md) {
                    margin-top: 0;
                    width: auto;
                    padding: 15px 30px;
                }
            }
            .control {
                width: 100%;
                font-size: 14px;
                letter-spacing: 2px;
                text-align: center;
                color: #8a8b9b;
                background-color: #fafafa;
                @media screen and (min-width: $screen-md) {
                    width: auto;
                }
            }
            &-body {
                margin-top: 30px;
                margin-bottom: 20px;
                display: flex;
                flex-wrap: wrap;
                @extend .between__xs;
                @media screen and (min-width: $screen-md) {
                    flex-wrap: nowrap;
                }
            }
            &-title {
              font-size: 14px;
              letter-spacing: 2px;
              text-align: center;
              text-transform: uppercase;
              color: #cccccc;
              margin: 30px 0;
            }
        }
        &-txt {
            color: rgba(138, 139, 155, 0.6);
            line-height: 1.21;
        }
        &-footer {
            display: flex;
            margin-top: auto;
            @extend .between__xs;
        }
    }
}
