//
// Pages -> Index
// ------------------------------------

.card {
    i {
        font-size: 24px;
    }
    &-header {
        color: $white-lighten;
        padding: 25px 0;
        @media screen and (min-width: $screen-tablet) {
            padding: 50px 0;
        }
        i {
            font-size: 24px;
        }
        &--warning {
              background-image: linear-gradient(to right, #f7971d, #ef5a4f);
        }
        &--danger {
            background-color: #ed1c24;
        }
        &--info {
            background-image: linear-gradient(to right, #0083ca, #00b9f2);
        }
        &--success {
          background-image: linear-gradient(#9ccd2e, #9ccd2e), linear-gradient(to right, #0083ca, #00b9f2);
        }
        &--black {
            background-color: #000000;
        }
        .container {
            display: flex;
            @extend .middle__xs;
            @extend .between__xs;
        }
        &-subtitle {
            font-size: 12px;
            @media screen and (min-width: $screen-tablet) {
                font-size: 16px;
            }
        }
        &-title {
            font-size: 18px;
            @media screen and (min-width: $screen-tablet) {
                font-size: 36px;
            }
        }
        &-icons {
            @extend .is-row;
            @extend .center__xs;
            @extend .between__xs;
            text-align: center;
        }
        &-icon {
            @extend .is-col;
            max-width: 100px;
            font-size: 12px;
            i {
                margin-bottom: 10px;
            }
        }
        &-btns {
            display: flex;
            @extend .center__xs;
            @extend .end__xs;
        }
        &-btn {
            line-height: 50px;
            height: 50px;
            width: 50px;
            text-align: center;
            border-radius: 15px;
            border: solid 1px $white-lighten;
            @media screen and (min-width: $screen-tablet) {
                line-height: 60px;
                height: 60px;
                width: 60px;
            }
            &.fav label {
                line-height: 48px;
                color: $white-lighten;
                @media screen and (min-width: $screen-tablet) {
                    line-height: 58px;
                }
            }
            i {
                color: $white-lighten;
            }
            & + & {
                margin-left: 20px;
            }
        }
    }
    &-body {
        @extend .is-row;
        @extend .between__xs;
        margin-top: 30px;
        margin-bottom: 30px;
        @media screen and (min-width: $screen-desktop) {
            margin-top: 90px;
            margin-bottom: 90px;
        }
    }
    &-footer {
        color: #8a8b9b;
        h5 {
            font-size: 20px;
            color: #49495a;
            text-transform: uppercase;
            font-family: 'MSbold';
        }
        ul,
        p {
            margin-bottom: 35px;
        }
        @media screen and (min-width: $screen-desktop) {
            .is-col__lg-5 {
                width: 46%;
            }
        }
    }
    &-items {
        &-start {
            border-radius: 20px;
            border: solid 1px #e0e1f9;
            padding: 24px;
            display: flex;
            flex-wrap: wrap;
            @extend .middle__xs;
            @extend .between__xs;
            margin-bottom: 20px;
            @media screen and (min-width: $screen-tablet) {
                margin-bottom: 50px;
                padding: 40px;
            }
            @media screen and (min-width: $screen-desktop) {
                margin-bottom: 0;
            }
        }
        &-mid {
            margin-top: 20px;
            i {
                font-size: 20px;
            }
            @media screen and (min-width: $screen-tablet) {
                margin-top: 0;
                i {
                    font-size: 24px;
                }
            }
        }
        &-end {
            .btn {
                font-size: 14px;
                padding: 7px 20px;
                height: 50px;
                &.fav {
                    padding: 0;
                }
            }
            .fav label {
                height: 100%;
                line-height: 46px;
                color: $base-color-main;
                &::before {
                    vertical-align: middle;
                }
                span {
                    font-size: 14px;
                    margin-left: 15px;
                    vertical-align: middle;
                }
            }
            @media screen and (max-width: $screen-lg-max) {
                span span {
                    display: none;
                }
            }
        }
        &-pers {
            padding: 40px 35px;
            border-radius: 20px;
            border: solid 1px #d9d9e4;
            text-align: center;
            margin-bottom: 20px;
            @media screen and (min-width: $screen-xl-desktop) {
                padding: 40px;
            }
        }
        &-per {
            &--main {
                color: #8a8b9b;
                margin-bottom: 20px;
                .card-items-num {
                    font-size: 48px;
                }
            }
        }
        &-logo {
            @extend .is-col__md-3;
            @extend .is-col__lg-12;
            text-align: center;
            margin: 30px 0;
            @media screen and (min-width: $screen-tablet) {
                text-align: left;
            }
            @media screen and (min-width: $screen-desktop) {
                margin: 40px auto 60px;
            }
        }
        &-num {
            font-size: 24px;
            color: #49495a;
            font-family: 'MSbold';
        }
        &-desc {
            color: #8a8b9b;
        }
        &-inner {
            margin-top: auto;
            @extend .is-col__md-7;
            @extend .is-col__lg-12;
        }
        &-link {
            i {
                font-size: 16px;
            }
            a:hover {
                text-decoration: none;
                span {
                    text-decoration: none;
                }
            }
            span {
                text-decoration: underline;
            }
        }
    }
    &-item {
        & + & {
            margin-top: 20px;
            @media screen and (max-width: $screen-lg-max) {
                margin-top: 30px;
            }
        }
        display: flex;
        &-ico {
            width: 35px;
            color: #d9d9e4;
            @media screen and (min-width: $screen-tablet) {
                width: 60px;
            }
        }
        &-txt {
            width: calc(100% - 35px);
            @media screen and (min-width: $screen-tablet) {
                width: calc(100% - 60px);
            }
        }
    }
}
