//
// Pages -> Index
// ------------------------------------
.mid {
  width: 100%;
  margin-top: 25px;
  @media screen and (min-width: $screen-md) {
      max-width: 230px;
      margin-top: 0;
  }
  @media screen and (min-width: $screen-lg) {
      max-width: 300px;
  }
  @media screen and (min-width: $screen-xl) {
      max-width: 370px;
  }
}
.typemargin-l {
    margin: 50px 0;
    @media screen and (min-width: $screen-lg) {
        margin: 90px 0;
    }
}
.typemargin {
    margin-top: 50px;
    margin-bottom: 40px;
    @media screen and (min-width: $screen-lg) {
        margin-top: 100px;
        margin-bottom: 70px;
    }
}
.search {
    width: 100%;
    position: relative;
    button {
        position: absolute;
        right: 7px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: transparent;
        border: none;
        font-size: 25px;
        color: #d5d5e1;
    }
    .control {
        padding: 13px 45px 13px 30px;
        background-color: #fafafa;
    }
}
.slider {
  @extend .text--center;
  @media screen and (min-width: $screen-md) {
      margin: 0 -5px;
  }
  .slick-slide {
    margin: 0 10px;
  }
  &-main {
    &__item {
      height: 50px;
      width: 50px;
      @include border-radius(15px);
      background-color: #f1f1f4;
      @extend .text--center;
      display: flex;
      flex-direction: column;
      @extend .middle__xs;
      @extend .center__xs;
      overflow: hidden;
      @media screen and (min-width: $screen-md) {
      }
      @media screen and (min-width: $screen-lg) {
          width: auto;
          padding: 20px 10px;
          height: 100px;
      }
      span {
          font-size: 12px;
          color: rgba(44, 29, 93, 0.3);
          margin-top: auto;
          display: none;
          @include transition();
          @media screen and (min-width: $screen-lg) {
              display: inline-block;
          }
      }
      i {
        color: $base-color-main;
        font-size: 24px;
      }
      &:active,
      &:focus,
      &:hover {
          text-decoration: none;
          border-color: #f0f0f4 !important;
          background-color: #f0f0f4 !important;
          span {
              color: #49495a;
          }
      }
      &.active {
          border-color: $base-color-main !important;
          background-color: $base-color-main !important;
          i,
          span {
              color: $white-lighten;
          }
      }
    }
  }
}
.mainbanner {
    &-img {
      border-radius: 10px;
      border: solid 1px #cccccc;
      position: relative;
      text-align: center;
      margin-bottom: 20px;
      @media screen and (min-width: $screen-md) {
          margin-bottom: 40px;
      }
      img {
        border-radius: 10px;
      }
    }
    &-title {
        position: absolute;
        left: 0;right: 0;bottom: 0;top: 0;
        margin: auto;
        height: 35px;
        font-size: 14px;
        @media screen and (min-width: $screen-md) {
            height: 70px;
            font-size: 24px;
        }
        @media screen and (min-width: $screen-lg) {
            font-size: 36px;
            height: 105px;
        }
    }
}
.banner {
    @extend .typemargin-l;
    .slick-slide {
      margin: 0 5px;
      @media screen and (min-width: $screen-lg) {
        margin: 0 10px;
      }
    }
    &-top {
        margin: 20px 0;
        &-item {
            padding: 41px 50px;
            @include border-radius(10px);
            background-color: #f1f1f4;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            padding: 30px 25px;
            height: 150px;
            @media screen and (min-width: $screen-md) {
                height: 300px;
                padding: 35px 33px;
                margin-bottom: 0;
            }
            @media screen and (min-width: $screen-lg) {
                flex: 1;
                height: 100%;
            }
            @media screen and (min-width: $screen-xl) {
                padding: 41px 50px;
            }
            & + & {
                margin-top: 20px;
            }
            &--h {
                height: auto;
                text-align: center;
                .banner-top__title {
                    // font-size: 24px;
                    @media screen and (min-width: $screen-xl) {
                        font-size: 30px;
                    }
                }
            }
            &--s {
                .banner-top__title {
                    @media screen and (min-width: $screen-xl) {
                        font-size: 20px;
                    }
                }
            }
            &--sk {
                background: url('../images/SK.png') no-repeat bottom -38px right 27px / auto 110%, #f1f1f4;
                @media screen and (min-width: $screen-md) {
                    background: url('../images/SK.png') no-repeat bottom right 67px / auto 90%, #f1f1f4;
                }
            }
            &--mv {
                background: url('../images/MV.png') no-repeat bottom right 27px / auto 120px, #f1f1f4;
                @media screen and (min-width: $screen-xl) {
                    background: url('../images/MV.png') no-repeat bottom center / auto 120px, #f1f1f4;
                }
                @media screen and (min-width: $screen-xl) {
                    background: url('../images/MV.png') no-repeat bottom center / auto 150px, #f1f1f4;
                }
            }
        }
        &__title {
            color: #3f3f4f;
            font-family: 'MSbold';
            margin-bottom: 15px;
            line-height: 1.2;
            font-size: 16px;
            @media screen and (min-width: $screen-md) {
                font-size: 18px;
            }
            @media screen and (min-width: $screen-xl) {
                font-size: 24px;
            }
        }
        &__desc {
          color: #8a8b9b;
          max-width: 200px;
          font-size: 12px;
          line-height: 1.21;
          display: none;
          @media screen and (min-width: $screen-md) {
              display: block;
          }
          @media screen and (min-width: $screen-xl) {
              font-size: 14px;
          }
        }
        &__logo {
            margin-top: auto;
            opacity: 0.6;
            max-width: 80px;
            @media screen and (min-width: $screen-xl) {
                max-width: 120px;
                margin-bottom: 20px;
            }
            @media screen and (min-width: $screen-xl) {
                max-width: 140px;
                margin-bottom: 0;
            }
        }
    }
    &-bottom {

    }
}
.shops {
    position: relative;
    @extend .typemargin;
    .slick-slide {
        margin: 0 10px;
    }
    &-header {
        display: flex;
        flex-wrap: wrap;
        @extend .between__xs;
        @extend .middle__xs;
    }
    &-body {
        text-align: center;
        margin: 30px 0 70px;
        @media screen and (min-width: $screen-md) {
            margin: 40px 0;
        }
    }
    &-footer {
        margin: auto;
        max-width: 350px;
        position: relative;
        @media screen and (min-width: $screen-lg) {
            max-width: 370px;
        }
    }
    &-items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        border: 1px solid #d5d5e1;
        border-radius: 15px;
        display: flex;
        // flex-direction: column;
        height: 280px;
        flex-wrap: wrap;
        @extend .center__xs;
        @extend .middle__xs;
        padding: 40px 25px 20px;
        position: relative;
        margin: auto;
        max-width: 320px;
        @media screen and (min-width: $screen-md) {
            padding: 40px 25px;
            width: auto;
        }
        &--b {
            margin-top: auto;
            @media screen and (max-width: $screen-sm-max) {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
        &--img {
            margin-bottom: auto;
            margin-top: auto;
            width: 100%;
            @media screen and (min-width: $screen-md) {
                height: 60px;
                line-height: 60px;
                margin-top: 0;
            }
            img {
                vertical-align: middle;
                display: inline-block;
                max-height: 100%;
                max-width: 70%;
                @media screen and (min-width: $screen-md) {
                    max-width: 100%;
                }
            }
        }
        &--name {
            color: #808192;
            font-size: 12px;
            margin-top: auto;
            text-align: left;
            @media screen and (min-width: $screen-md) {
                font-size: 14px;
                margin: auto;
                text-align: center;
            }
        }
        &--num {
            color: #3f3f4f;
            font-size: 30px;
            margin-top: auto;
            @media screen and (min-width: $screen-md) {
                font-size: 36px;
                line-height: 1.1;
                margin-top: 20px;
            }
        }
        &--tip {
            text-transform: uppercase;
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 12px;
            padding: 3px 10px;
            border-radius: 10px;
            color: $base-color-main;
            border: 1px solid $base-color-main;
        }
    }
    .title {
        width: 200px;
    }
}
.shares {
    position: relative;
    @extend .typemargin;
    .slick-slide {
        margin: 0 10px;
    }
    &-header {
        @extend .shops-header;
    }
    &-body {
        @extend .shops-body;
    }
    &-footer {
        @extend .shops-footer;
    }
    &-items {
        @extend .is-row;
    }
    &__item {
        @extend .shops__item;
        height: 310px;
        font-size: 14px;
        &--num {
            color: #3f3f4f;
             font-size: 36px;
             width: 49%;
             text-align: left;
             @media screen and (min-width: $screen-md) {
                 width: 100%;
                 text-align: center;
             }
        }
        &--tip {
            color: #ff3149;
            margin: 15px 0;
            width: 49%;
            text-align: right;
            @media screen and (min-width: $screen-md) {
                width: 100%;
                text-align: center;
            }
        }
        &--name {
            color: #808192;
            margin-bottom: 50px;
        }
        &--img {
            img {
                margin: auto;
                @media screen and (min-width: $screen-md) {
                    width: 70%;
                }
            }
        }
    }
    .title {
        width: 200px;
    }
}
.about {
    @extend .typemargin;
    &-header {
        @extend .shops-header;
    }
    &-body {
        @extend .shops-body;
        img {
            margin: auto;
        }
        &--flex {
            @extend .is-row;
            @extend .center__xs;
            margin-left: -25px;
            margin-right: -25px;
            .about-img {
                @extend .is-col;
                @extend .is-col__xs-6;
                @extend .is-col__md-4;
                @extend .is-col__lg-3;
                margin-top: 10px;
                margin-bottom: 10px;
                @media screen and (min-width: $screen-md) {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
            }
        }
    }
    .slick-dots {
        bottom: -10px;
    }
    .slick-slide {
        margin: 0 10px;
    }
}
.reviews {
    @extend .typemargin;
    &-header {
        @extend .shops-header;
    }
    &-body {
        @extend .shops-body;
        @media screen and (max-width: $screen-sm-max) {
            margin-bottom: 20px;
        }
    }
}
