//
// Pages -> Index
// ------------------------------------

.filter {
    max-width: 360px;
    @include transition();
    display: flex;
    flex-wrap: wrap;
    @extend .center__xs;
    @extend .middle__xs;
    margin: auto;
    order: 2;
    @media screen and (min-width: $screen-md) {
        order: 0;
    }
    @media screen and (min-width: $screen-lg) {
        max-width: inherit;
    }
    &-body--js {
        max-height: 0;
        overflow: hidden;
        &.active {
            max-height: 200px;
        }
    }
    &-btn {
        margin-left: 20px;
        border-radius: 20px;
        border: solid 1px #d9d9e4;
        font-size: 24px;
        padding: 6px 12px;
        width: 50px;
        text-align: center;
        color: #d9d9e4;
        display: none;
        @media screen and (min-width: $screen-md) {
            display: inline-block;
        }
        &:hover {
            color: $base-color-main;
        }
        &.active {
            i {
                @extend .icon-cross;
            }
        }
    }
    &__item {
        margin: 0 0 10px;
        width: 100%;
        @media screen and (min-width: $screen-md) {
            width: 230px;
            margin: 0 10px 10px;
        }
        @media screen and (min-width: $screen-lg) {
            margin: 0 10px;
        }
        .select2-container {
            @media screen and (max-width: $screen-md-max) {
                width: 100% !important;
            }
        }
        .checkbox {
            display: inline-block;
        }
        @media screen and (min-width: $screen-lg) {
            width: auto;
        }
    }
    &--sh {
        order: 2;
        @media screen and (min-width: $screen-md) {
            margin-top: 20px;
        }
        @media screen and (min-width: $screen-lg) {
            margin-top: 0;
            order: 0;
        }
    }
}

.catalog {
    .mid {
        display: flex;
        order: 1;
        max-width: inherit;
        @media screen and (min-width: $screen-md) {
            margin-top: 40px;
        }
        @media screen and (min-width: $screen-lg) {
            margin-top: 0;
            order: 0;
            max-width: 230px;
        }
        @media screen and (min-width: $screen-xl) {
            max-width: 360px;
        }
        &--sm {
            @media screen and (max-width: $screen-sm-max) {
                margin: 20px 0;
            }
            @media screen and (min-width: $screen-md) {
                margin-top: 20px;
            }
            @media screen and (min-width: $screen-lg) {
                max-width: 220px;
                margin-top: 0;
            }
            @media screen and (min-width: $screen-xl) {
                max-width: 280px;
            }
        }
    }
    &-header {
        margin: 30px auto;
        @extend .shops-header;
        max-width: 360px;
        @media screen and (min-width: $screen-md) {
            margin: 60px auto 30px;
        }
        @media screen and (min-width: $screen-lg) {
            max-width: inherit;
        }
        .title--c {
            @media screen and (max-width: $screen-sm-max) {
                text-align: center;
                width: 100%;
            }
        }
    }
    &-subheader {
         margin: 20px 0 40px;
         @media screen and (min-width: $screen-lg) {
              margin: 40px 0;
         }
         .slider {
             .slick-arrow,
             &-main__item {
                 background-color: $white-lighten;
                  border: solid 1px #e0e1f9;
             }
         }
    }
    &-body {
        @extend .shops-body;
        margin: 40px 0 0;
        @media screen and (min-width: $screen-md) {
            margin: 40px 0;
        }
    }
    &-footer {
        @extend .shops-footer;
        margin-bottom: 40px;
    }
    &-items {
        @extend .is-row;
        @extend .center__xs;
    }
    &__item {
        @extend .shops__item;
        text-decoration: none;
        margin-bottom: 20px;
        padding-top: 50px;
        height: 220px;
        @media screen and (min-width: $screen-md) {
            margin-bottom: 40px;
            height: 340px;
        }
        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
            border-color: transparent;
            box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.1);
        }
        &-fav {
            position: absolute;
            right: 20px;
            top: 20px;
        }
        &-logo {
            @extend .shops__item--img;
        }
        &-name {
            @extend .shops__item--name;
        }
        &-num {
            @extend .shops__item--num;
            @media screen and (min-width: $screen-md) {
                width: 100%;
            }
        }
        &-tip {
            @extend .shops__item--tip;
            &--red {
                color: #ff3b53;
                border-color: #ff3b53;
            }
            & + & {
                left: 60px;
            }
        }
        &-icons {
            width: 100%;
            display: none;
            @media screen and (min-width: $screen-md) {
              display: block;
            }
            i {
                font-size: 16px;
                color: #d9d9e4;
                + i {
                    margin-left: 9px;
                }
            }
        }
        &-link {
            margin-top: auto;
            letter-spacing: 2px;
            text-transform: uppercase;
            display: none;
            @media screen and (min-width: $screen-md) {
              display: block;
            }
        }
        &--serv {
            text-align: left;
            color: $white-lighten;
            background: url('../images/adbg.jpg') no-repeat center;
            justify-content: flex-start;
            .catalog__item-img {
                margin-top: auto;
            }
            .catalog__item-desc {
                font-size: 18px;
                line-height: 1.1;
                font-family: 'MSbold';
                margin-bottom: auto;
            }
            .catalog__item-name {
                font-size: 12px;
                color: $white-lighten;
                text-align: left;
            }
        }
    }
}

.sorting {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    @extend .center__xs;
    @extend .middle__xs;
    select {
        color: $base-color-main;
        font-size: 14px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        border: none;
    }
    @media screen and (min-width: $screen-lg) {
        margin: 80px 0;
    }
    li {
        margin: 0 5px;
        @media screen and (min-width: $screen-md) {
            margin: 0 10px;
        }
        @media screen and (min-width: $screen-lg) {
            margin: 0 25px;
        }
        &:last-child {
            @media screen and (min-width: $screen-md) {
                display: none;
            }
        }
        &:first-child {
            @media screen and (min-width: $screen-md) {
                width: 100%;
                margin-bottom: 30px;
                text-align: center;
            }
            @media screen and (min-width: $screen-lg) {
                margin-bottom: 0;
                text-align: left;
                width: auto;
            }
        }
    }
}


.fav {
    input {
        display: none;
        &:checked + label {
            &:before {
                @extend .icon-star;
            }
        }
    }
    label {
        margin: 0;
        color: #d9d9e4;
        font-size: 24px;
        line-height: 1;
        &:before {
            font-family: "fontello";
            @extend .icon-star-empty;
        }
    }
}
