header.page-header
    .container
        .page-header__logo
            a.non-tablet(href="/")
                img(src="images/logo.svg", alt="Company ltd.")
            a.tablet(href="/")
                img(src="images/logo-m.svg", alt="Company ltd.")
        nav.nav
            button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
                span.icon-bar &nbsp;
                span.icon-bar &nbsp;
                span.icon-bar &nbsp;
            .main-nav__collapse
                ul.main-nav
                    li.main-nav__item: a.main-nav__link(href='shops.html') Магазины
                    li.main-nav__item: a.active.main-nav__link Акции
                    li.main-nav__item: a.main-nav__link(href='agency.html') О нас
                .main-nav__hide
                    .page-header__link--ava
                        img(src='images/user3.png')
                    a(href='#')
                        span Профиль
                        i.icon-exit
        .page-header__link.hidden__sm.hidden__xs
            .page-header__link--ava
                img(src='images/user3.png')
            .page-header__link--rub 43 456 ₽
            a(href='#')
                span Профиль
                i.icon-exit
