$icons: (
	  sprite: (width: 504px, height: 84px, svgPath: '../images/svg/sprite.svg'),
 	browser: (width: 64px, height: 64px, backgroundX: 0px, backgroundY: 0px),
 	hourglass: (width: 64px, height: 64px, backgroundX: -84px, backgroundY: 0px),
 	info: (width: 64px, height: 64px, backgroundX: -168px, backgroundY: 0px),
 	iphone: (width: 64px, height: 64px, backgroundX: -252px, backgroundY: 0px),
 	labtop: (width: 64px, height: 64px, backgroundX: -336px, backgroundY: 0px),
 	puzzle: (width: 64px, height: 64px, backgroundX: -420px, backgroundY: 0px),
);
