main.page-main
    .container
        section.about
            .about-header
                .title СМИ о нас
            .about-body.about-body--flex
                - for (var x = 1; x < 9; x++)
                    .about-img: img(src='images/smi-'+x+'.png', alt='')
