main.page-main
    section.card-header.card-header--success
        .container
            .card-header-start
                .card-header-subtitle Все магазины
                .card-header-title Delivery Club
            .card-header-mid.hidden__sm.hidden__xs
                .card-header-icons
                    .card-header-icon
                        i.icon-burger
                        div Еда, продукты
            .card-header-end
                .card-header-btns
                    a.card-header-btn(href='')
                        i.icon-shop
                    .card-header-btn.fav
                        input(type='checkbox', id='fav')
                        label(for='fav')
    .container
        section.card
            .card-body
                .is-col.is-col__xs-12.is-col__lg-3
                    .card-items-start
                        .card-items-logo: img(src='images/logo-13.png', alt='')
                        .card-items-inner
                            .card-items-desc
                                p Страна: Россия
                                p Категории: Еда, продукты
                            .card-items-link
                                a(href='#') 
                                    span http://delivery-club.ru
                                    i.icon-newtab
                .is-col.is-col__xs-12.is-col__md-7.is-col__lg-5.mid__md.last__xs
                    .card-items-mid
                        .card-items-desc.card-items-desc--icon
                            .card-item 
                                .card-item-ico
                                .card-item-txt Delivery Сlub - это единая информационная система, собравшая в одно целое сотни разных служб, доставляющих клиентам продукты и готовую еду. Цель проекта - обеспечить своим пользователям наилучшие условия для быстрого, удобного и выгодного осуществления заказов.
                            .card-item 
                                .card-item-ico
                                    i.text--primary.icon-world
                                .card-item-txt Cash Back начисляется только при переходе в интернет-магазин с этого сайта и оплате заказа любым способом.
                            .card-item 
                                .card-item-ico
                                    i.icon-offline
                                .card-item-txt В настоящий момент партнер не поддерживает продажи товаров или услуг через розничные точки продаж.
                            .card-item 
                                .card-item-ico
                                    i.icon-vip
                                .card-item-txt В настоящий момент партнер не предоставляет эксклюзивных условий для участников.
                .is-col.is-col__xs-12.is-col__md-4.is-col__lg-3
                    .card-items-end
                        .card-items-pers
                            .card-items-per.card-items-per--main
                                .card-items-num 5 %
                                .card-items-desc Текущий Cashback
                            .card-items-per
                                .card-items-num 8 %
                                .card-items-desc: span.text--primary GOLD Cashback
                        .mb20
                            a.btn.btn--full.btn--primary(href='#') 
                                span #[span перейти] в магазин
                                i.icon-shop
                        .fav.btn.btn--full.btn--default
                            input(type='checkbox', id='addfav')
                            label(for='addfav'): span В избранное
            .card-footer
                include ../components/_tabs
