main.page-main
    .container
        section.banner
            .banner-top
                .is-row.stretch__xs
                    .is-col.is-col__lg-6.is-col__md-8.is-col__xs-12
                        .banner-top-item.banner-top-item--sk 
                            .banner-top__title Скидки до 70% #[br] кэшбэк 6,8%
                            .banner-top__desc Коллекции прошлых сезонов с максимальной скидкой; Акция доступна для всех клиентов магазина
                            .banner-top__logo: img(src='images/queen.png', alt='')
                    .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12
                        .banner-top-item.banner-top-item--mv
                            .banner-top__title Кибернеделя #[br] скидок
                            .visible__sm.visible__xs
                                img(src='images/group.png', alt='')
                            .banner-top__desc Суперскидки в "М.Видео" продолжаются! Мы продлеваем кибернеделю до 5 февраля:
                    .is-col.is-col__md-3.is-col__xs-12.text--center.hidden__sm.hidden__xs.hidden__md
                        .banner-top-item.banner-top-item--h
                            .banner-top__title 2 064 340 P
                            .banner-top__desc кэшбэка мы выплатили в январе
                        .banner-top-item.banner-top-item--h.banner-top-item--s
                            .banner-top__title Увеличь свой кэшбэк на 60%
                            .banner-top__desc Приобретайте GOLD статус, и увеличь свой кэшбэк на 60%
            .banner-bottom.relative
                include ../components/_slider
        section.shops
            .shops-header
                .title Магазины #[sup 743]
                .mid
                    .search
                        form(action='', method='post')
                            input.control(type='search', placeholder='Поиск магазина')
                            button(type='submit'): i.icon-search
                .title
            .shops-body
                +catalogmain(shops)
            .shops-footer
                a.btn.btn--full.btn--outlined(href='shops.html') Показать все
        include ../components/_mainbanner
        section.shares
            .shares-header
                .title Акции #[sup 743]
            .shares-body
                .shares-items.slider-shop
                    - for (var x = 1; x < 4; x++)
                        .item
                            .shares__item
                                .shares__item--num -50 %
                                .shares__item--tip Осталось #[br] 5 дней
                                .shares__item--name 4,2 % вернем на карту
                                .shares__item--img
                                    img(src='images/logo-1.png', alt='')
                        .item
                            .shares__item
                                .shares__item--num +1500
                                .shares__item--tip Осталось #[br]  3 часа
                                .shares__item--name 4,2 % вернем на карту
                                .shares__item--img
                                    img(src='images/logotype-2.png', alt='')
                        .item
                            .shares__item
                                .shares__item--num - 25 %
                                .shares__item--tip Осталось #[br] 5 дней
                                .shares__item--name 4,2 % вернем на карту
                                .shares__item--img
                                    img(src='images/logotype-3.png', alt='')
                        .item
                            .shares__item
                                .shares__item--num - 50 %
                                .shares__item--tip Осталось #[br]  2 часа
                                .shares__item--name 4,2 % вернем на карту
                                .shares__item--img
                                    img(src='images/logotype-4.png', alt='')
            .shares-footer
                a.btn.btn--full.btn--outlined(href='shares.html') Показать все
        section.reviews
            .reviews-header
                .title Отзывы
            .reviews-body.reviews-block
                - for (var x = 1; x < 9; x++)
                    .reviews__item
                        .reviews__item-txt Сервис замечательный! за  пол года сэкономила уже больше 60 тысч рублей! Удобный вывыод на карту! Все рекомендую
                        .reviews__item-group.hidden__sm.hidden__xs
                            .reviews__item-ava: img(src='images/user.png', alt='')
                            .reviews__item-name Анжела 28 лет
            .reviews-block-mb.slider-nav.visible__sm.visible__xs
                - for (var x = 1; x < 9; x++)
                  .reviews__item-group
                      .reviews__item-ava: img(src='images/user.png', alt='')
                      .reviews__item-name Анжела 28 лет
        section.about
            .about-header
                .title СМИ о нас
            .about-body.about-block
                - for (var x = 1; x < 9; x++)
                    .about-img: img(src='images/smi-'+x+'.png', alt='')
