main.page-main
  section.info
    .container
      .is-col__lg-9.is-col__md-10.centered-block
        .text--center
          h1 Лицензионное соглашение
        p FIMOLVIA HOLDINGS LTD (далее — Компания), компания зарегистрированная в соответствии с законодательством республики Кипр, адрес: 155 Arch.Makariou 3 Avenue, PROTEAS HOUSE, 5th floor, office 3026, Limassol, Cyprus, регистрационный номер (Account №): 2400174639001.
        p Настоящее #[b Лицензионное соглашение (далее – Соглашение)] регулирует взаимоотношения между Компанией и Лицензиатом, предметом которого является право использования программы для ЭВМ – «Личного кабинета», расположенного на официальном сайте Компании в сети «Интернет» по адресу: http://www.wwp.capital (под wwp.capital понимается в том числе и другие сайты Fimolvia Holdings LTD: www.winwinpeople.com, www.cashback.wwp.capital). #[br] Положения Соглашения устанавливаются Компанией самостоятельно, являются публичной офертой и могут быть приняты Исполнителем не иначе, как путем присоединения к ним в целом. #[br] Принимая условия Соглашения, Исполнитель тем самым полностью и безоговорочно принимает положения любых приложений к Соглашению, а также Регламентирующих документов, а также документов, разработанных на их основе. #[br] Местом заключения настоящего Соглашения является г. Лимассол (республика Кипр). #[br] Лицензиатом по настоящему Соглашению может быть исключительно любое дееспособное физическое лицо, в том числе, зарегистрированное в качестве субъекта предпринимательской деятельности в соответствии с действующем законодательством страны, в которой оно осуществляет свою предпринимательскую (коммерческую) деятельность.
        h4 Основные понятия
        p #[b Лицензиат] – физическое или юридическое лицо, заключившие настоящее Соглашение с Компанией, предметом которого является право использования программы для ЭВМ – «Личного кабинета», расположенного на официальном сайте Компании в сети «Интернет». #[br] #[b Личный кабинет (Аккаунт) Лицензиата] – программа для ЭВМ (программное обеспечение), представленная в объективной форме в виде совокупности данных и команд, предназначенных для функционирования ЭВМ и официального сайта Компании как на компьютерных устройствах, так и мобильных, в целях получения определенного результата, достижение которого обусловлено использованием функционала, представленного в Личном кабинете. Личный кабинет располагается на официальном сайте Компании в сети «Интернет» по адресу: http://www.wwp.capital
        p При заключении настоящего Соглашения Лицензиату присваивается персональный логин. Для входа в Личный кабинет используются уникальные логин и пароль, введенные Лицензиатом при регистрации. #[br] #[b Пакет] – перечень функций Личного кабинета, доступный для использования Лицензиату.         
        ol
            li
                b Порядок акцепта оферты
                ol
                    li Предложение стать Лицензиатом, согласно изложенному, принимается путем выражения согласия с условиями настоящего Соглашения и регистрации в виде заполнения регистрационной формы на веб-ресурсе Компании с внесением своих персональных данных в регистрационную форму, расположенную под офертой. #[br] Оферта считается принятой с момента ввода в регистрационную форму всех необходимых данных и выражения безоговорочного согласия Лицензиата с правилами и положениями оферты путем установки флажка в графе «Я принимаю условия» и нажатием кнопки «Далее».
                    li Для заключения настоящего Соглашения Лицензиату необходимо пройти регистрацию на официальном веб-сайте Компании http://www.wwp.capital
                    li Запрещается иметь более одного Аккаунта, зарегистрированного на Лицензиата. Компания имеет право заблокировать Аккаунты Лицензиата, нарушившего данное условие, без предварительного уведомления.
                    li После акцепта оферты и регистрации Аккаунта Лицензиата, Компания высылает уведомление на указанный при регистрации адрес электронной почты (E-mail). В уведомлении содержится следующая информация: персональные данные Лицензиата, логин и пароль для доступа к Личному кабинету (Аккаунту Лицензиата). #[br] Заполнив регистрационную форму, Лицензиат даёт согласие на хранение и обработку своих персональных данных.
                    li Лицензиат несет ответственность за поддержание конфиденциальности в отношении своего Аккаунта и пароля и соглашается принять ответственность за все действия, производимые под его Аккаунтом или паролем.
                    li Вы можете отозвать согласие на использование настоящего Соглашения в любое время. Однако после отзыва согласия, действие настоящего Соглашения будет автоматически прекращено. Вы также потеряете право на использование Аккаунта. Если вы хотите отозвать ваше согласие на право использования Аккаунта (и тем самым прекратить действие настоящего Соглашения с Компанией) или обновить ваши личные данные, вам необходимо направить электронное письмо на адрес support@wwp.capital
                    li Вы соглашаетесь с тем, что Компания может изменить содержание и условия настоящего Соглашения в одностороннем порядке и в любое время. Последняя редакция документов всегда доступна для просмотра, печати и загрузки на официальном веб-сайте Компании http://www.wwp.capital
                    li Выбирая "Я ПРИНИМАЮ УСЛОВИЯ" ниже, Вы подтверждаете, что Вы прочли и поняли условия настоящего Соглашения с Компанией в отношении предмета Соглашения и соглашаетесь принять на себя обязательства по всем его условиям. При нажатии на кнопку "ОТМЕНА", процесс регистрации будет прекращен.
            li 
                b Предмет Соглашения
                ol
                    li 	
                        | Компания предоставляет право использования Личного кабинета, расположенного на официальном сайте Компании в сети «Интернет» по адресу: http://www.wwp.capital
                        ol
                            li В рамках базового набора функционала Личного кабинета (базового Пакета) Компания предоставляет Лицензиату открытую лицензию на безвозмездной основе. Расширение функционала Личного кабинета, доступного для Лицензиата, возможно в рамках иных Пакетов, отличных от базового, что оплачивается Лицензиатом в порядке, предусмотренном настоящим Соглашением.
                    li 
                        | Перечень функций Личного кабинета, доступных Лицензиату для использования, определяется выбранным Лицензиатом и оплаченным в установленном порядке Пакетом. Под функциями Личного кабинета в том числе, но не ограничиваясь, понимается:
                        ul
                            li право Лицензиата знакомиться в Пакетами Компании, их стоимостью и описанием;
                            li возможность запрашивать и получать необходимую информацию о текущей деятельности Компании, политики ее развития; 
                            li способах и методах работы Компании;
                            li возможность расчета эффективности работы Компании;
                            li возможность самостоятельного выбора инструментов, предложенных в Личном кабинете, а также его функций для оптимального достижения желаемого результата;
                            li возможность предоставления право доступа третьим лица в соответствии с условиями настоящего Соглашения;
                            li иные возможности, представляемые в Личном кабинете в зависимости от выбранного Пакета.
                        | Компания самостоятельно определяет функционал Личного кабинета в соответствии с конкретным Пакетом посредством непосредственной реализации соответствующих функций в Личном кабинете. Компания вправе в любое время без предварительного уведомления Лицензиата изменять функционал Личного кабинета. Соответствующее функциональное наполнение приобретает для Лицензиата обязательный характер с момента включения/исключения конкретных функциональных возможностей непосредственно в программе ЭВМ – Личном кабинете и не требует дополнительного уведомления Лицензиата. Продолжение использования Личного кабинета Лицензиатом означает принятие им соответствующего функционала Личного кабинета.
                    li Компания самостоятельно определяет любые условия использования Личного кабинета в соответствии с конкретным Пакетом посредством непосредственной реализации соответствующих условий в Личном кабинете. Компания вправе в любое время без предварительного информирования изменять условия использования Личного кабинета. Условия использования приобретают обязательный характер для Лицензиата с момента включения, исключения либо изменения соответствующих условий непосредственно в программе ЭВМ – Личном кабинете и не требуют дополнительного уведомления Лицензиата. Продолжение использования Личного кабинета Лицензиатом, означает принятие Лицензиатом соответствующих условий использования Личного кабинета.
                    li Лицензия, выдаваемая Лицензиату по настоящему Соглашению, является неисключительной. Компания имеет права предоставлять третьим лицам право использования Личного кабинета любыми не противоречащими действующему законодательству способами. 
                    li Лицензия выдается на весь срок действия исключительного права.
                    li По настоящему Соглашению использование Личного кабинета Лицензиатом допускается на территории любого государства.
                    li Возможность предоставления права доступа к Личному кабинету третьим лицам на основании настоящего Соглашения и количество таких лиц, определяется выбранным и оплаченным им Пакетом. 
                    li Компания вправе в одностороннем порядке изменять, дополнять, сортировать набор функций, представляемых в Пакетах. 
                    li Компания гарантирует, что является обладателем исключительного права на программу ЭВМ (Личный кабинет).
            li
                b Порядок расчетов
                ol
                    li Оплата услуг и продуктов Компании производится путем перечисления денежных средств на счет Компании или счет платежной системы, осуществляющей обслуживание Компании. 
            li
                b Права и обязанности сторон
                ol
                    li 
                        | Лицензиат имеет право:
                        ol
                            li Использовать Личный кабинет Компании в соответствии с условиями настоящего Соглашения.
                            li Пользоваться услугами службы поддержки Компании в целях обучения по эффективному использованию функционала Личного кабинета.
                            li Осуществлять перевод и иную переработку Личного кабинета, настройку его функционала и совершать иные действия в соответствии с настоящим Соглашением, направленные на увеличение эффективности получаемого результата посредством использования Личного кабинета.
                            li Представлять права доступа к Личному кабинету в соответствии с настоящим Соглашением.
                    li
                        | Компания имеет право:
                        ol
                            li В одностороннем порядке изменять размер тарифов, порядок и перечень функций, определяемых в Пакетах.
                            li 
                                | Блокировать Личный кабинет Лицензиата без предварительного уведомления по одной из следующих причин:
                                ul
                                    li нарушение любого из сроков и/или условий настоящего Соглашения;
                                    li совершение деяний, которые могут в любой форме, косвенно или напрямую, вызвать сбои в бизнесе Компании;
                                    li совершение деяний, которые могут в любой форме, косвенно или напрямую, негативно повлиять на деловую репутацию Компании;
                                    li арушение антиспамовой политики, в том числе публикация реферальных ссылок на веб-сайтах, посадочных страницах и в социальных сетях с призывом регистрации по данной ссылке. 
                                    li публичная демонстрация доходов от выплаты комиссий за рекомендацию услуг компании и иных доходов от Компании;
                                    li самостоятельное или не согласованное с Компанией изготовление видеоматериалов о Компании, программном продукте и иных видеоматериалов с прямой ссылкой на Компанию в тексте диктора и актеров, или использованием логотипа Компании, или любых других прав интеллектуальной собственности, или других прав любого характера или рода, принадлежащих Компании;
                                    li использование названия и логотипа Компании и/или ее Интернет-ресурса http://www.wwp.capital или любых других прав интеллектуальной собственности, принадлежащих Компании в целях изготовления сувенирной и иной продукции
                                    li указание ложных сведений в Личном кабинете на веб-сайте http://www.wwp.capital
                                    li ложные публичные заявления относительно регистрации на сайте популярных певцов, актеров, блоггеров и иных известных личностей, а также известных брендов на веб-сайте;
                                    li публичные негативные заявления относительно прямых конкурентов Компании, социальных сетей и иных компаний с аналогичной или похожей программной продукцией;
                                    li создание сайтов, в том числе «посадочных страниц» - Landing Page, сайты-визитки с использованием логотипа или названия Компании и/или ее Интернет-ресурса http://www.wwp.capital или любых других прав интеллектуальной собственности, принадлежащих Компании, с целью призыва к регистрации или без таковой;
                                    li совершение иных действий, порочащих честь и достоинство Компании и/или ее Интернет-ресурса http://www.wwp.capital #[br] В указанных случаях, уплаченные по настоящему Соглашению денежные средства в результате блокировки или приостановления Аккаунта в Личном кабинете, не подлежат возврату и возмещению Лицензиату.
                            li Отказать в сотрудничестве с Лицензиатом, в случае злоупотребления информацией относительно работы Компании, а также создания негативной репутации на сайтах любых форумов и любых сообществ.
                            li Лицензиат соглашается с тем, что Компания не несет ответственности перед ним или любой третьей стороной за любые изменения, перерывы в работе, перенос данных, обновление или добавление функционала, или временное прекращение работы Личного кабинета по техническим причинам на срок не более 24 часов.
                            li Отклонить заявление на заключение настоящего Соглашения от любого Лицензиата по собственному усмотрению.
                            li Вносить изменения в любые условия настоящего Соглашения по своему усмотрению. Принимая условия настоящего Соглашения, Лицензиат обязуется соблюдать все поправки и изменения, которые вносит Компания. Поправки вступают в силу после уведомления всех Лицензиатов об изменении настоящего Соглашения. Уведомление о поправках должно быть опубликовано на официальном веб-сайте http://www.wwp.capital, что является надлежащим уведомлением всех Лицензиатов Компании. Продолжение сотрудничества Лицензиата с Компанией или дальнейшее использование Личного кабинета означают принятие им всех поправок к настоящему Соглашению.
                            li В любое время изменять оформление Личного кабинета, его содержание, список сервисов, изменять или дополнять программное обеспечение и другие объекты, используемые или хранящиеся в Личном кабинете без предварительного уведомления Лицензиата в порядке, предусмотренном п. 2.2, 2.3 настоящего Соглашения.
                            li Распоряжаться статистической информацией, связанной с функционированием Личного кабинета, а также информацией Лицензиатов для обеспечения адресного показа рекламной информации различным аудиториям. Для целей организации функционирования и технической поддержки Личного кабинета и исполнения настоящего Соглашения Компания имеет техническую возможность доступа к Личным кабинетам Лицензиатов, которую реализует только в случаях, установленных настоящим Соглашением или в соответствии с законодательством.
                            li Расторгнуть настоящее Соглашение в одностороннем порядке и прекратить право доступа Лицензиата к Личному кабинету за нарушение условий настоящего Соглашения.
                    li 
                        | Компания обязуется:
                        ol
                            li Предоставлять доступ к Личному кабинету безвозмездно, а также в случае оплаты выбранного Пакета согласно условиям настоящего Соглашения.
                            li Обеспечить функционирование Личного кабинета надлежащего качества.
                    li 
                        | Лицензиат обязуется:
                        ol
                            li Соблюдать все международные, федеральные, государственные, местные законы и правила при использовании программного обеспечения Компании.
                            li Разделять ценности и хранить верность Компании, а также обеспечивать целостность и соблюдать этикет Компании и ее Интернет-ресурса http://www.wwp.capital.
                            li Соблюдать все положения и условия, изложенные в настоящем Соглашении, а также изменения, которые Компания может внедрить по своему усмотрению с течением времени.
                            li Не препятствовать работе Компании.
                            li Сообщать о нарушениях условий настоящего Соглашения другими Лицензиатами.
                            li Лицензиат обязуется не привлекать Лицензиатов Компании для использования аналогичного программного обеспечения других компаний. За нарушение данного пункта Компания вправе заблокировать Аккаунт Лицензиата. В указанном уплаченные по настоящему Соглашению денежные средства в результате блокировки или приостановления Аккаунта в Личном кабинете не подлежат возврату и возмещению Лицензиату.
                            li Лицензиат обязуется не покупать и не переоформлять на себя Аккаунты других, ранее зарегистрированных Лицензиатов.
                            li 
                                | При непосредственном использовании сайта: http://www.wwp.capital и Личного кабинета Лицензиат обязан:
                                ul.bullet
                                    li соблюдать все применимые законы и/или законы страны проживания Лицензиата, условия настоящего Соглашения и иных специальных документов Компании;
                                    li предоставлять при регистрации достоверные, полные и актуальные данные, следить за их актуализацией;
                                    li информировать Компанию о несанкционированном доступе к Личному кабинету и/или о несанкционированном доступе и/или использовании пароля и логина Лицензиата;
                                    li не предоставлять доступ другим Лицензиатам к Личному кабинету или к отдельной, содержащейся в нем информации в случае, если это может привести к нарушению любых применимых законов и/или законов страны проживания Лицензиата и/или условий настоящего Соглашения и любых специальных документов Компании, о которых Лицензиат был уведомлен;
                                    li хранить в тайне и не предоставлять другим Лицензиатам и третьим лицам ставшие ему известными в результате общения с другими Лицензиатами персональные данные (включая, но не ограничиваясь, домашними адресами, номерами телефонов, адресами электронной почты, паспортными данными, банковской информацией) и информацию о частной жизни других Лицензиатов и третьих лиц без получения предварительного разрешения последних;
                            li В случае наличия сомнений в отношении законности осуществления тех или иных действий, в том числе, по размещению информации или предоставлению доступа, Компания рекомендует воздержаться от осуществления таких действий.
            li
                b Запреты и ограничения
                ol
                    li Лицензиат не может осуществлять переуступку каких-либо прав или делегировать какие-либо обязанности в рамках настоящего Соглашения без предварительного письменного согласия Компании. Любая попытка передачи или переуступки прав без письменного согласия Компании дает право оспорить действия Лицензиата и/или дает право Компании прекратить настоящее Соглашение с Лицензиатом.
                    li Лицензиаты не могут использовать или пытаться зарегистрировать любые торговые наименования Компании или материалы любого характера или рода со своего Интернет-ресурса http://www.wwp.capital или любые торговые марки, названия услуг, знаки обслуживания, наименования продуктов или любые их производные в качестве доменных имен или иное, в сети Интернет.
                    li Компания запрещает использовать ее и/или ее Интернет-ресурса торговые наименования, товарные знаки, дизайн или символы, или другие права интеллектуальной собственности Компании любыми лицами, в том числе Лицензиатами Компании, без предварительного письменного разрешения Компании. Лицензиаты не могут продавать или распространять записи любых мероприятий и выступлений Компании, их представителей без письменного разрешения Компании. Лицензиаты не могут продавать или использовать в личных целях аудио- и видеозаписи любых презентаций Компании в отношении Интернет-ресурса http://www.wwp.capital и Личного кабинета.
                    li Лицензиаты не должны отвечать на запросы СМИ в отношении Компании и/или ее Интернет-ресурса, ее Личного кабинета и других продуктов. Все запросы от любого СМИ должны быть немедленно переданы в отдел маркетинга Компании.
                    li Лицензиат несет полную ответственность за все свои устные и письменные заявления, сделанные в отношении Компании и/или ее Интернет-ресурса либо Личного кабинета, которые явно не содержатся в официальных материалах и в публично доступных документах Компании.
                    li Название Компании, ее Интернет-ресурса http://www.wwp.capital и другие названия, дизайны, логотипы или другие права интеллектуальной собственности, принадлежащие Компании, или которые могут быть утверждены Компанией, являются собственными торговыми наименованиями, товарными знаками и знаками обслуживания Компании. Использование названия или логотипа Компании на любом изделии, не произведенном Компанией, запрещается.
                    li Лица, не достигшие 18 лет, не могут стать Лицензиатом. Лицензиат несет личную ответственность за нарушение данного пункта, а также за введение в заблуждение  Компании относительно своего возраста путем внесения ложных сведений при регистрации.
                    li Лицензиат не имеет право продавать, передавать, дарить, а также совершать иные юридические действия по передаче Аккаунта любым третьим лицам.
                    li 
                        | В случае смерти Лицензиата, его Аккаунт может быть передан его/ее наследникам. Компании должны быть	предоставлены соответствующие правовые документы для обеспечения корректности передачи Аккаунта. Наследник приобретает права на весь функционал Личного кабинета, который был доступен умершему в случае, если он выполняет следующие условия. #[br] Правопреемник(и)/Кандидат должен:
                        ul
                            li Выполнять условия Соглашения и иные правила, применимые к Компании;
                            li Соответствовать условиям и положениям настоящего Соглашения и иным правилам, применимым к Компании;
                        | Для осуществления передачи Аккаунта по наследству преемник/кандидат должен предоставить Компании следующие документы:
                        ul
                            li оригинал свидетельства о смерти;
                            li нотариально заверенная копия завещания или иного документа, удостоверяющего право преемника/кандидата на наследование Аккаунта;
                            li юбой другой документ, который может быть необходим для подтверждения смерти по применимому праву.
                    li 
                        | Лицензиату при непосредственном использовании Интернет ресурса и Личного кабинета Компании запрещается:
                        ol
                            li Регистрироваться в качестве Лицензиата от имени или вместо другого лица («фальшивый аккаунт») или регистрировать группу (объединение) лиц, или юридическое лицо в качестве Лицензиата, при этом возможна регистрация от имени и по поручению другого физического лица или юридического лица, при условии получения необходимых полномочий в порядке и форме, предусмотренных законодательством страны Лицензиата;
                            li Вводить Лицензиатов в заблуждение относительно своей личности, используя логин и пароль другого зарегистрированного Лицензиата;
                            li Искажать сведения о себе, своем возрасте или своих отношениях с другими лицами или организациями;
                            li 
                                | Распространять и предоставлять доступ или иным образом использовать любую информацию, которая:
                                ul.bullet
                                    li содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию, или нарушает неприкосновенность частной жизни других Лицензиатов или третьих лиц;
                                    li нарушает права несовершеннолетних лиц;
                                    li является вульгарной или непристойной, содержит порнографические изображения и тексты или сцены сексуального характера с участием несовершеннолетних;
                                    li содержит сцены бесчеловечного обращения с животными;
                                    li содержит описание средств и способов суицида, любое подстрекательство к его совершению;
                                    li пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;
                                    li содержит экстремистские материалы;• пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий,
                                    li содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;
                                    li содержит рекламу или описывает привлекательность употребления наркотических веществ, в том числе «цифровых наркотиков» (звуковых файлов, оказывающих воздействие на мозг человека за счет бинауральных ритмов), информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;
                                    li содержит признаки мошенничества;
                                    li а также нарушает иные права и интересы граждан и юридических лиц или требования законодательства страны резидента.
                            li Осуществлять массовые рассылки сообщений без согласия Компании;
                            li Использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования сайта Компании и его сервисов или Личных кабинетов Лицензиатов;
                            li Загружать, хранить, публиковать, распространять и предоставлять доступ или иным образом использовать вирусы, трояны и другие вредоносные программы;
                            li Использовать без специального на то разрешения Компании автоматизированные скрипты (программы) для сбора информации о Лицензиатах Компании;
                            li Любым способом, в том числе, но не ограничиваясь, путем обмана, злоупотребления доверием, взлома, пытаться получить доступ к логину и паролю другого Лицензиата;
                            li Осуществлять незаконный сбор и обработку персональных данных других лиц;
                            li Размещать любую другую информацию, которая, по личному мнению Компании, является нежелательной, не соответствует целям создания Интернет-ресурса и Личного кабинета Компании, ущемляет интересы Лицензиатов или по другим причинам является нежелательной для размещения на сайте.
                            li В случае нарушения одного из пунктов раздела 5 настоящего Соглашения, Компания вправе приостановить или заблокировать Аккаунт Лицензиата на сайте и в Личном кабинете, а также удалить необходимую информацию из Личного кабинета Лицензиата. В указанном случае уплаченные по настоящему Соглашению денежные средства в результате блокировки или приостановления Аккаунта в Личном кабинете не подлежат возврату и возмещению Лицензиату.
                            li Компания запрещает регистрацию клиентов и Лицензиатов в Республике Узбекистан и не несет ответственность за их деятельность на территории данной страны.
            li 
                b Политика возврата денежных средств, уплаченных за использование ПО
                ol
                    li Денежные средства, уплаченные Лицензиатом по настоящему Соглашению в счет предоставления права использования Личного кабинета Компании, возврату не подлежат. 
            li 
                b Расторжение соглашения
                ol
                    li Принудительное расторжение #[br] Нарушение Лицензиатом любого из условий настоящего Соглашения, включая любые поправки, которые могут быть сделаны Компанией по своему усмотрению, может привести к принудительному, одностороннему расторжению настоящего Соглашения с Лицензиатом. Настоящее Соглашение считается расторгнутым с даты письменного уведомления Лицензиата по электронной почте, по факсу или с даты его доставки курьерской службой на последний известный почтовый или электронный адрес Лицензиата.
                    li Добровольное расторжение #[br] Лицензиат имеет право расторгнуть настоящее Соглашение в любое время по любой причине. Заявка на расторжение настоящего Соглашения должна быть представлена в письменной, электронной форме и отправлена по электронной почте по адресу support@wwp.capital. Письменное уведомление должно содержать подпись Лицензиата, егo/ee ФИО, адрес электронной почты, персональный логин и пароль от данного Аккаунта. 
            li
                b Прочие условия
                ol
                    li  Если какое-либо положение настоящего Соглашения по любой причине будет признано недействительным или не имеющим законной силы, только та часть положения, которая была признана недействительной или не имеющей законной силы, должна быть отделена от настоящего Соглашения с целью внесения необходимых изменений для обретения юридической силы. В этом случае, остальные условия и положения настоящего Соглашения сохраняют свою целостность и юридическую силу.
                    li  Электронная форма или факсимильная копия настоящего Соглашения приравниваются к его оригиналу во всех отношениях.
                    li  Для достижения максимальной строгости и точности толкования закона, Компания отказывается от гарантий не нарушения прав интеллектуальной собственности. Использование любых материалов, загруженных на сайт и в Личный кабинет или иным образом полученных с помощью программного обеспечения Компании, осуществляется на страх и риск Лицензиата. Лицензиат несет личную ответственность за любой ущерб, причиненный компьютерным системам, программному коды или мобильным устройствам Лицензиата, или потерю данных, имевшие место в результате загрузки любых подобных материалов. Лицензиат понимает и согласен с тем, что использование им услуг осуществляется на его/ее собственный риск.
                    li  Ограничение ответственности Компании: #[br] Сайт Компании, Личный кабинет и оформление сайта поставляются «как есть». Компания не дает каких-либо гарантий того, что сайт, Личный кабинет или его функционал могут подходить или не подходить для конкретных целей использования. Компания не гарантирует и не обещает никаких специфических результатов от использования сайта и/или его сервисов; #[br] Во избежание недоразумений Лицензиату следует соблюдать меры предосторожности в скачивании с сайта или по размещенным на нем ссылкам, и использовании любых файлов, в том числе программного обеспечения. Компания настоятельно рекомендует использовать только лицензионное, в том числе антивирусное, программное обеспечение; #[br] Используя сайт и Личный кабинет Компании, Лицензиат соглашается с тем, что скачивает с сайта или с его помощью любые материалы на свой собственный риск и несет личную ответственность за возможные последствия использования указанных материалов, в том числе за ущерб, который это может причинить компьютеру Лицензиата или третьим лицам, за потерю данных или любой другой вред; 
                        br 
                        | Ни при каких обстоятельствах, Компания или ее представители не несут ответственность перед Лицензиатом или перед любыми третьими лицами за любой прямой, косвенный, случайный, неумышленный ущерб, включая упущенную выгоду или потерянные данные, вред чести, достоинству или деловой репутации, вызванный в связи с использованием cайта и Личного кабинета, их содержимого или иных материалов, к которым Лицензиат или иные лица получили доступ, даже если Администрация сайта и Личного кабинета предупреждала или указывала на возможность такого вреда.
                    li  Лицензиат признает, что он прочитал, осознал и согласен с условиями настоящего Соглашения, а также согласен принять обязательства по его условиям. 
                    li  Если Лицензиатом не доказано обратное, любые действия, совершенные с использованием его логина и пароля, считаются совершенными соответствующим Лицензиатом. В случае несанкционированного доступа к логину и паролю и/или Личному кабинету Лицензиата, или раскрытия логина и пароля Лицензиат обязан незамедлительно сообщить об этом в Компанию.
                    li  В случае несогласия Лицензиата с настоящими условиями и положениями или их обновлениями, он/она обязан отказаться от настоящего Соглашения, проинформировав об этом Компанию в соответствии с условиями этого Соглашения.
                    li  Cookie—файлы. Мы используем "cookie-файлы." Cookie-файлы, которые сохраняются на компьютерах Лицензиатов, представляют собой текстовые файлы небольшого размера. Cookie- файлы сохраняются на жестком диске компьютера и осуществляют обмен данными с серверами Компании только при посещении Лицензиатом веб-сайта. Это позволяет Компании отслеживать совокупные показатели (общее количество посетителей, количество просмотренных страниц). Веб-браузер Лицензиата, вероятнее, приспособлен к приему Cookie- файлов. Однако, Лицензиат может запретить Cookie- файлы в своих настройках браузера. Лицензиат должен всегда понимать, что запрет Cookie- файлов может привести к определенным сбоям в работе. 
                    li  Стороны настоящего Соглашения понимают и принимают, что все споры и разногласия, вытекающие из настоящего Соглашения, подлежат рассмотрению исключительно по месту регистрации Компании, действующего на момент возможных претензий. #[br] Информацию о таком месте нахождения можно получить по официальному запросу в службу поддержки по адресу support@wwp.capital.
            li  
                b Ответственность сторон
                ol
                    li  За неисполнение или ненадлежащее исполнение своих обязательств Компания и Лицензиат несут ответственность, предусмотренную действующим законодательством Кипра и настоящим Соглашением.
                    li  Стороны освобождаются от ответственности в случае возникновения обстоятельств непреодолимой силы, повлекших за собой невыполнение или ненадлежащее выполнение обязательств по настоящему Соглашению.
                    li  Компания не несет ответственности за задержки или сбои в выполнении своих обязательств в случае, когда причины их возникновения лежат вне области контроля Компании. Это включает, помимо прочего, забастовки, затруднения в работе, массовые беспорядки, войны, пожары, смерти, правительственные постановления, распоряжения иных органов власти или изменения в законодательстве страны Лицензиата.
                    li  Компания не несет ответственности за перебои в работе Личного кабинета по возникшим ситуациям непреодолимой силы, форс-мажорных ситуаций, находящихся вне контроля, произошедших не по вине Компании или в связи с другими обстоятельствами вне контроля Компании.
                    li  Лицензиат несет личную ответственность за любую информацию, которую размещает на веб-сайте, сообщает другим Лицензиатам, а также за любые взаимодействия с другими Лицензиатами, осуществляемые на свой риск.
                    li Лицензиаты несут ответственность за собственные действия в связи с созданием и размещением информации в собственном Личном кабинете на сайте, а также в связи с размещением информации о других Лицензиатах в соответствии с действующим законодательством. Нарушение настоящих Правил и действующего законодательства влечет за собой гражданско-правовую, административную и уголовную ответственность.
                    li Компания не несет ответственности за действия или бездействие любого лица в отношении пользования программными продуктами Компании.
                    li Компания не несет ответственности за нарушение Лицензиатом настоящего Соглашения и оставляет за собой право по своему собственному усмотрению, а также при получении информации от других Лицензиатов, либо третьих лиц о нарушении Лицензиатом настоящего Соглашения, приостанавливать, ограничивать или прекращать доступ Лицензиата ко всем или к любому из сервисов Компании. Компания может приостанавливать, ограничивать или прекращать доступ Лицензиата ко всем или к любому из сервисов Компании в любое время по любой причине или без объяснения причин, с уведомлением или без такового, не отвечая за любой вред, который может быть причинен Вам таким действием. Компания закрепляет за собой право удалить Личный кабинет Лицензиата и (или) приостановить, ограничить или прекратить доступ Лицензиата к любому из сервисов Компании, если Компания обнаружит, что Лицензиат представляет угрозу для Компании и (или) его Лицензиатов.
                    li Компания не несет ответственности за временные сбои и перерывы в работе веб-cайта и Личного кабинета и/или любую вызванную ими потерю информации. Компания не несет ответственности за любой ущерб компьютеру Лицензиата или иного лица, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный со скачиванием материалов с сайта или по ссылкам, размещенным на сайте.
                    li Компания, а также ее головные и дочерние компании, должностные лица, акционеры, сотрудники, правопреемники и агенты освобождаются от ответственности в отношении всех претензий или исков, вытекающих из действий ее Лицензиатов. Компания также освобождается от любой ответственности, убытков, штрафов, пени или других взысканий, связанных с незаконной деятельностью Лицензиата.
                    li Настоящее Соглашение составлено на русском и английском языках. В некоторых случаях оно может быть предоставлено Лицензиату для ознакомления на другом языке. В случае расхождения русскоязычной версии настоящего Соглашения и версии настоящего Соглашения на ином языке, применяются положения русскоязычной версии настоящего Соглашения.
            li 
                b Применимое Право #[br]
                | Настоящее Соглашение подчиняется и будет толковаться в соответствии с законами Республики Кипр.
            li 
                b Разрешение Споров #[br]
                | Стороны попытаются добросовестно урегулировать любые споры мирным путем посредством переговоров.
                br
                | Любой спор, разногласие, противоречие или претензия, возникающее из или в связи с настоящим Соглашением, включая, но не ограничиваясь, его созданием, выполнением, нарушением, прекращением или недействительностью, который не урегулирован мирным путем, как указано выше, будет направлен для арбитражного рассмотрения в соответствии с Арбитражными Правилами CEDRAC. #[br]
                | Стороны также договариваются, что: #[br]
                | (а) Назначающим органом будет суд CEDRAC. #[br]
                | (б) Количество арбитров – один. #[br]
                | (в) Место арбитражного процесса – Лимассол, Кипр. #[br]
                | (г) Язык арбитражного процесса – английский.
            li 
                b Запросы #[br]
                | При возникновении необходимости, просим присылать запросы на адрес: #[br]
                | Email: support@wwp.capital
            li 
                b Дополнительные условия
                ol
                    li Любое уведомление или иная корреспонденция, связанная с настоящими правилами, должны осуществляться в письменной форме, и считаются переданными надлежащим образом, если высланы по электронной почте, заказным письмом с уведомлением о вручении по адресам, указанным в настоящем договоре, или доставлены лично и переданы под роспись.
                    li В случае отсутствия уведомления любой из сторон об изменении адреса (в том числе электронного адреса) или иных реквизитов, что повлекло невозможность доставки уведомлений и иной корреспонденции адресату, а также в случае уклонения адресата от получения корреспонденции, противоположная сторона будет считаться выполнившей свои обязательства по направлению корреспонденции надлежащим образом, а сторона, которой она направлена – соответственно получившей такую корреспонденцию. При этом, корреспонденция направленная заказным письмом с уведомлением, считается полученной: по истечении 10 рабочих дней. 
                    li Уведомления и иные обращения Лицензиата, переданные в Компанию по электронной почте, считаются полученными от Лицензиата, если они отправлены с адреса электронной почты, указанного Лицензиатом при его регистрации через официальный сайт Компании в регистрационной форме. 
                    li Подписывая настоящие лицензионное соглашение, Лицензиат предоставляет согласие Компании, а также иным компаниям, и любым третьим лицам, по усмотрению Компании, на обработку, использование и трансграничную передачу своих персональных данных, указанных в лицензионном соглашении, в целях его исполнения без ограничения срока действия. 
                    li  Под обработкой персональных данных стороны понимают сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение и любые другие действия (операции) с персональными данными. Лицензиат вправе отозвать согласие на обработку персональных данных при условии письменного уведомления об этом Компании не менее чем за 180 дней до предполагаемой даты прекращения обработки и использования предоставленных им персональных данных. 
                    li Компания в своей деятельности обязуется соблюдать требования действующего законодательства страны присутствия в области защиты персональных данных. 
            li 
                b  Соглашение о разрешении смс-рассылки и рекламных сообщений #[br]
                | Компания оставляет за собой право «веерной» (массовой) рассылки сообщений связанных с исполнением настоящих Условий.
                br
                | Под «веерной» (массовой) рассылкой понимается отправка одновременно в 2 (два) и более адреса сообщений, на получение которых у инициатора рассылки не имеется согласия владельцев этих адресов (настоящее ограничение никоим образом не имеет отношения к системе электронной подписки). Зарегистрированный пользователь, фактом регистрации на условиях условий Компании и ее Интернет-ресурсах, безоговорочно выражает свое согласие на получение рекламы путем использования телефонной, факсимильной, подвижной радиотелефонной связи или рекламы, распространяемой иным образом по усмотрению Компании, а также в любой иной форме и в любом виде в рамках пользования Услуг, в том числе путем демонстрации на устройствах лицензиата рекламных, информационных и других материалов или сообщений. 
                br
                | Зарегистрированный лицензиат, принявший правила и условия публичной оферты дает Компании согласие на получение информации о новостях Программы, новых предложениях и интернет=-магазинах, а также проводимых акций Компанией в виде SMS-сообщений на указанный им при регистрации номер мобильного телефона. 
                br
                | Зарегистрированный лицензиат дает право Компании на обработку персональных данных, указанных им при регистрации с целью направления указанной выше информации, в том числе на передачу соответствующей информации лицам, привлекаемым к исполнениям указанных действий. 
                br
                | Зарегистрированный лицензиат подтверждает, что все указанные им при регистрации данные верны и подтверждает, что указанный номер мобильного телефона является его, выделенным оператором сотовой связи, и зарегистрированный лицензиат готов возместить любой ущерб, который может быть причинен в связи с указанием им некорректных данных в полном объеме. 
                br
                | Зарегистрированный лицензиат ознакомлен со всеми условиями и подтверждает смс-подписку от Компании.
            li 
                b  Особые условия
                ol
                    li Лицензиат при конвертации платежей из одной валюты в другую будет применять ставку международных платежных систем, если в этом будет такая необходимость.
                    li Все претензии и споры, связанные с юридическим лицом армянского филиала, будут обрабатываться в соответствии с законодательством Армении.
                    li Лицензиат и его дочерние компании владеют или обладают достаточными правами или лицензиями на использование всех товарных знаков, торговых наименований, знаков обслуживания, регистрации товарных знаков, имен услуг, патентов, патентных прав, авторских прав, изобретений, лицензий, утверждений, правительственных разрешений, коммерческой тайны и права, необходимые для ведения своего бизнеса.
