main.page-main
  section.info
    .container
      .is-col__lg-9.is-col__md-10.centered-block
        .text--center
          h1 Правила участия в Системе cashback WWP Capital
        p Просим Вас ознакомиться с настоящими Правилами участия в Системе cashback WWP Capital (далее – Система), которые являются публичной Офертой. #[br] Изложенный ниже текст Оферты является адресованным физическим лицам официальным публичным предложением Fimolvia holdings ltd заключить Соглашение об оказании услуг в соответствии с п. 2 ст. 437 Гражданского кодекса Российской Федерации. Соглашение об оказании услуг считается заключенным и приобретает силу с момента совершения физическим лицом действий, предусмотренных в настоящей Оферте и означающих безоговорочное принятие физическим лицом всех условий настоящей Оферты без каких-либо изъятий или ограничений на условиях присоединения. #[br] Эти Правила приняты для определения функций, обязанностей и прав участников Системы по отношению друг к другу, а также взаимоотношений между Участником, Оператором и Клиентом. Цель правил — создать систему взаимоотношений, одновременно соблюдая права каждого участника и не ограничивая его свободу.
        ol
            li
                b Термины и определения
                ol
                    li #[b Компания] - Fimolvia holdings ltd
                    li #[b Идентификатор] — уникальное именование клиента, установленное согласно принятой технической политики Компании.
                    li #[b Клиент] — физическое лицо, зарегистрированное в Системе.
                    li #[b Личный Кабинет] — раздел Системы, в котором отображается список доступных для Клиентов Маркетинговых Акций, данные по статистике, в том числе данные по начисленным Клиентам в Отчётном Периоде Рублям Лояльности.
                    li 
                        | #[b Маркетинговая Акция] — совокупность мероприятий, организуемых Участником с целью увеличения активности Клиентов в приобретении товаров и услуг Участника, по условиям которой:
                        ul.bullet
                            li Приобретение товаров и/или оплата услуг Участника осуществляется с использованием Идентификатора в качестве средства идентификации Клиента. 
                            li Начисление Рублей Лояльности осуществляется строго по основаниям, установленным Маркетинговой Акцией. 
                            li В зависимости от количества начисленных Рублей Лояльности, Клиенту производится выплата дохода путём перечисления денежных средств на банковский Счет Клиента, исходя из соотношения 1 (один) Рубль Лояльности = 1 (один) рубль РФ.
                            li Присоединение Клиента к Маркетинговой Акции осуществляется на условиях Правил участия. Срок для акцепта Клиентом данной публичной оферты составляет не менее 30 (тридцати) дней и не предусмотрен досрочный отзыв оферты.
                    li #[b Оператор программы] – Fimolvia holdings ltd, зарегистрированное по законодательству Республики Кипр, создающее единое информационное пространство для физических лиц, желающих получать актуальную информацию о предлагаемых товарах и услугах Участников Системы.
                    li #[b Отчетный Период] — календарный месяц, в котором Клиентам начислялись Рубли Лояльности.
                    li #[b Программа] — совокупность Маркетинговых Акций, реализованных в Системе.
                    li #[b Рубль Лояльности] — условная единица, характеризующая активность Клиента в приобретении товаров (работ, услуг) Участников. 1 (один) Рубль Лояльности = 1 (один) рубль РФ.
                    li #[b Система] — принадлежащая Оператору и продвигаемая Компанией информационная система администрирования и управления Маркетинговыми Акциями, объединяющая Участников с целью создания технических и организационных условий по организации и проведению Маркетинговых Акций, в которой реализован функционал учёта и начисления Рублей Лояльности в соответствии с условиями Маркетинговых Акций.
                    li #[b Счет Клиента] – внутрисистемный личный идентификатор, используемый для отображения взаиморасчетов с Клиентом.
                    li #[b Участник] — юридическое лицо, реализующее одну или несколько Маркетинговых Акций в рамках Программы Лояльности с использованием Системы.
                    li #[b Web-витрина] — web-страница, на которой представлены публичная оферта Системы и отобранные с использованием Личного Кабинета Маркетинговые Акции. Web-витрина размещается по адресу #[a(href='https://cashback.wwp.capital', target='_blank') https://cashback.wwp.capital]
            li
                b Предмет Оферты
                ol
                    li Компания реализует Систему и осуществляет ее продвижение.
                    li Клиент, используя Идентификатор в качестве средства идентификации, переходит с интернет-сайта Системы #[a(href='https://cashback.wwp.capital', target='_blank') https://cashback.wwp.capital] в интернет-магазин Участника, приобретает товары и/или производит оплату услуг Участника. За каждую оплату товаров и /или услуг в интернет-магазине Участника Клиенту начисляются Рубли Лояльности.
                    li Оператор ежедневно начисляет Клиентам начисленные Рубли Лояльности путем зачисления денежных средств на Счета Клиентов.
                    li Оператор предоставляет Клиентам право участия в Системе с использованием уникальной технологии и единого информационного пространства, а также всех ее возможностей после прохождения процедуры регистрации на официальной web-витрине Системы.
                    li Процедура регистрации происходит после принятия данной оферты и после прохождения которой физическое лицо становится Клиентом и принимает все условия данных Правил работы в Системе.
            li
                b Права и обязанности сторон
                ol
                    li 
                        | Оператор обязуется:
                        ol
                            li Поддерживать информацию на официальном сайте Системы в актуальном состоянии.
                            li Оперативно реагировать и оказывать помощь Клиентам по всем возникающим вопросам в рамках Системы.
                            li Обеспечить Клиенту доступ в Личный Кабинет на сайте Системы.
                            li Оператор гарантирует использование персональных данных, полученных в рамках регистрации Участника, сугубо в соответствии с действующим законодательством, а также полную конфиденциальность полученных данных, обеспечив ее надежное хранение и передачу.
                    li
                        | Оператор имеет право:
                        ol
                            li В одностороннем порядке расторгнуть Соглашение в случае нарушения Клиентом Правил участия.
                            li Запрашивать необходимую Оператору информацию у Клиента.
                            li Предоставлять данные регистрационной информации Клиента, если того требует закон или судебное решение, доведенное в официальном формате до руководства Оператора.
                            li В одностороннем порядке изменять условия настоящих Правил участия с предварительным уведомлением Клиента об изменениях посредством специализированной электронной рассылки, а также путем размещения информации на официальном сайте Системы. Изменения вступают в силу в течение одного месяца с момента уведомления Клиента. 
                            li При возникновении задолженности у Клиента перед Оператором вычесть средства в размере суммы задолженности из причитающихся Клиенту выплат.
                    li
                        | Клиент обязуется:
                        ol
                            li До начала сотрудничества с Системой в обязательном порядке ознакомиться с настоящими Правилами участия.
                            li Предоставить Оператору правдивую, точную и полную информацию по всем пунктам, предлагаемым в регистрационной форме, и поддерживать эту информацию в актуальном состоянии.
                            li Не делать вводящих в заблуждение и ложных заявлений о Системе, предлагаемых в рамках Системы товарах и услугах, Операторе; не совершать каких-либо действий, которые могут оказать негативное воздействие на Оператора и/или других Участников. Осуществлять корректное и уважительное общение с всеми Участниками на информационных площадках Системы.
                            li Не допускать распространения сведений, подрывающих деловую репутацию Оператора.
                            li Нести самостоятельную ответственность за расходы и убытки, связанные с деятельностью в Системе. Такая ответственность не может быть возложена на Оператора.
                            li Не использовать принадлежащие Оператору и Компании названия, логотипы, эмблемы, знаки и иную символику.
                            li Не брать на себя обязательства и/или не вести переговоры от имени Оператора или возлагать на Оператора и на его представительства ответственность в какой бы то ни было форме.
                            li Ознакомиться с условиями сотрудничества в индивидуальной карточке Участника в разделе "Условия".
                            li Самостоятельно подготавливать и сдавать налоговую отчетность и вести дела согласно требований и норм налогового законодательства своей страны.
                            li Запрашивать необходимые данные о полученном дополнительном доходе у Оператора для выполнения требований и норм налогового законодательства РФ.
                    li
                        |  Клиент имеет право:
                        ol
                            li Получать Рубли Лояльности в соответствии с положениями и условиями выбранного Участника Системы.
                            li Запрашивать дополнительную информацию о Системе, обращаться за помощью в службу поддержки Клиентов по всем доступным каналам коммуникаций.
            li
                b  Вступление соглашения в силу и срок его действия #[br]
                | Настоящее Соглашение вступает в силу с момента регистрации физического лица на официальном сайте Системы и действует в течение одного года. По истечении срока действия Соглашение автоматически продлевается на тот же срок и на тех же условиях, если ни одна из сторон не заявит о своем желании его расторгнуть.
            li
                b  Полномочия и ответственность сторон
                ol
                    li Вся представленная на сайте Системы информация, касающаяся предложений Участников, носит сугубо информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437ст.2 Гражданского кодекса Российской Федерации. Размещенная информация на официальном сайте Системы является предложением самого Участника, Оператор и Компания не несут ответственности за качество, уровень сервиса и все последствия, возникшие в рамках взаимодействия клиента и Участника.
                    li Полномочия Системы ограничиваются размещением рекламных и маркетинговых материалов на официальном сайте Системы о товарах и услугах, предоставляемых Участниками.
                    li Оператор не осуществляет реализацию представленных товаров и услуг, а официальный сайт Системы является рекламной площадкой, которая обеспечивает возможность для Участников размещать и проводить широкое информирование Клиентов, а также потенциальных участников Системы о своих предложениях.
                    li Компания не несет ответственность за обработку обращений и/или претензий Клиентов. 
                    li Обращения и/или претензии Клиентов по работе Системы, включая вопросы начисления Рублей Лояльности и их выплаты, отражения операций в Личном кабинете и др., принимаются Оператором через форму обратной связи на интернет-сайте Системы #[a(href='https://cashback.wwp.capital', target='_blank') https://cashback.wwp.capital]
                    li Все споры и разногласия сторон по настоящему Соглашению разрешаются путем переговоров, а при невозможности достижения согласия - передаются на рассмотрение в суд по месту нахождения Оператора. Применимое право при рассмотрении споров – законодательство Республики Кипр.
            li
                b  Информационные и рекламные сообщения
                ol
                    li Регистрируясь на официальном сайте, Клиент дает Оператору согласие на получение информации о новостях Системы, новых предложениях и Участниках, а также проводимых акциях Оператора или ее Участников в виде почтовых и SMS сообщений на указанный при регистрации адрес электронной почты или номер мобильного телефона.
                    li Клиент дает Согласие на обработку персональных данных, указанных при регистрации в Системе с целью направления указанной выше информации лицам, привлекаемым к исполнению указанных действий.
                    li Клиент подтверждает, что все указанные данные верны и указанный при регистрации номер мобильного телефона находится в его пользовании, и берет на себя ответственность возместить любой ущерб, который может быть причинен в связи с указанием некорректных данных в полном объеме.
            li
                b  Условия начисления Рублей Лояльности 
                ol
                    li Для начисления Рублей Лояльности Клиент должен осуществить переход по ссылке с web-витрины Системы на выбранный интернет-магазин Участника и совершить на нем обычную покупку.
                    li В случае, если покупка совершена с соблюдением всех условий, указанных на интернет-сайта Системы в индивидуальной карточке Участника, и по ней не совершён возврат товара (или отказ от услуги), то Оператор зачисляет Клиенту указанное в карточке Участника количество Рублей Лояльности.
                    li В случае, если Участник не предоставляет информацию по совершенным покупкам, Оператор Системы не несет ответственности за неначисленные Рубли Лояльности, но предпринимает необходимые действия для определения причин отсутствия информации по совершенным покупкам после официального обращения Клиента посредством формы обратной связи «Где моя покупка?».
                    li Оператор Системы в одностороннем порядке устанавливает ставку начисления Рублей Лояльности по каждому Участнику и имеет право изменять ее в любое время.
                    li Во избежание неначисления/отклонения Рублей Лояльности запрещено совершать многочисленные покупки в короткий промежуток времени в магазинах с фиксированной ставкой начисления рублей лояльности. Такие действия могут быть восприняты как мошеннические, что может повлечь за собой расторжение данного Соглашения с Клиентом.
                    li С целью повышения шансов начисления Рублей Лояльности Клиент обязан соблюдать условия и требования работы Системы, иметь на персональном компьютере антивирусную программу с последними обновлениями, по возможности не использовать специализированные дополнительные расширения в интерне-браузере (программ по блокировке рекламы и т.п.), в настройках интернет-браузера разрешить режим приема и хранения файлов Cookie.
                    li Перед началом покупок Клиент должен убедиться, что корзина покупок на сайте интернет-магазина пуста, или удалить имеющиеся там товары. После очищения корзины необходимо повторить переход с web-витрины или из email письма и оформить заказ.
                    li Рубли Лояльности не начисляются Клиентам за заказы, оформленные с использованием мобильной версии сайта интернет-магазина.
            li
                b  Форс-мажор и обстоятельства непреодолимой силы
                ol
                    li Оператор Системы допускает вероятность возникновения сбоев в работе Системы, связанных с техническими неполадками или злоумышленными действиями третьих лиц. 
                    li В случае появления обстоятельств непреодолимой силы, указанных в п.8.1., оператор Системы оставляет за собой право приостановить работу сервиса и его составляющих до момента устранения угроз или ошибок. Во всех случаях сбоев в работе Системы, запросы о возмещении Рублей Лояльности рассматриваться не будут.
                    li Оператор Системы оставляет за собой право отменить покупки, которые осуществлялись во время сбоя работы Системы, если на это есть объективные причины или подозрения о возможном обмане. 
                    li Оператор Системы обязуется устранять возникнувшие технические неполадки в кратчайшие сроки.
            li
                b  Расторжение соглашения
                ol
                    li Соглашение расторгается по истечении срока его действия, а также в любое время при письменном уведомлении другой стороны за10 дней до даты расторжения с соблюдением требований, установленных Правилами участия.
                    li При расторжении Соглашения по инициативе Оператора ввиду нарушения Клиентом настоящих Правил Системы, последний освобождается от всех договорных обязательств перед Оператором в отношении сотрудничества, а также теряет право на получение вознаграждения.
                    li При расторжении согласно п. 9.2. Оператор Обязан уведомить Клиента о расторжении соглашения не менее чем за 10 календарных дней до планируемой даты расторжения. Датой расторжения настоящего соглашения, будет являться дата, указанная Оператором в уведомлении.
            li
                b   Дополнительные условия
                ol
                    li Любое уведомление или иная корреспонденция, связанная с настоящими правилами, должны осуществляться в письменной форме, и считаются переданными надлежащим образом, если высланы по электронной почте, заказным письмом с уведомлением о вручении по адресам, указанным в настоящем договоре, или доставлены лично и переданы под роспись. 
                    li В случае отсутствия уведомления любой из сторон об изменении адреса (в том числе электронного адреса) или иных реквизитов, что повлекло невозможность доставки уведомлений и иной корреспонденции адресату, а также в случае уклонения адресата от получения корреспонденции, противоположная сторона будет считаться выполнившей свои обязательства по направлению корреспонденции надлежащим образом, а сторона, которой она направлена – соответственно получившей такую корреспонденцию. При этом, корреспонденция направленная заказным письмом с уведомлением, считается полученной: по истечении 10 рабочих дней. 
                    li Уведомления и иные обращения Клиентов, переданные в Компанию по электронной почте, считаются полученными от Клиента, если они отправлены с адреса электронной почты, указанного Клиентом при его регистрации через официальный сайт Компании в регистрационной форме. 
                    li Подписывая настоящие правила, Клиент предоставляет согласие Компании, а также иным компаниям, и любым третьим лицам, по усмотрению Компании, на обработку, использование и трансграничную передачу своих персональных данных, указанных в договоре, в целях его исполнения без ограничения срока действия. 
                    li Под обработкой персональных данных стороны понимают сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в том числе передачу), обезличивание, блокирование, уничтожение и любые другие действия (операции) с персональными данными. Клиент вправе отозвать согласие на обработку персональных данных при условии письменного уведомления об этом Компанию не менее чем за 180 дней до предполагаемой даты прекращения обработки и использования предоставленных им персональных данных. 
                    li Компания в своей деятельности обязуется соблюдать требования действующего законодательства страны присутствия в области защиты персональных данных. 
            li
                b  Заключительные положения
                ol
                    li Если одно или несколько условий настоящего Соглашения признаны незаконными, недействительными или не соответствующими действующему законодательству, то этот факт не влечет недействительности всего Соглашения в целом; остальные его условия продолжают действовать в полном объеме.
            li
                b  Рекомендации по использованию Системы #[br]
                | Рекомендации Оператора при работе с Систетмой:
                ol
                    li 
                        | Рекомендации к использованию программного обеспечения и расширений интернет-браузеров, препятствующих штатной работе Системы:
                        ul
                            li Отключайте программы, которые отключают рекламу и использование (в том числе несанкционированное изменение настроек cookies интернет-браузеров) к таким программам относятся Adblock, AdBlock Plus, friGate CDN, Aliexpress Seller Check, а также сторонние VPN/Proxy/Socks расширения и другие.
                            li Отключайте сторонние расширения интернет-браузеров, они могут препятствовать корректному переходу в интернет магазин и сбивать сделанные настройки вашего браузера, что приводит к отклонению или потере покупки.
                            li По возможности отключайте все сторонние расширения в браузере, с которого совершаете покупки с кэшбэком.
                            li Не используйте для интернет-покупок смартфоны, их версия браузера не поддерживает хранение cookies, что значительно осложняет работу Системы и приводит к потере покупок.
                    li 
                        | Рекомендации по оформлению нового заказа в выбранном интернет-магазине
                        ul
                            li Делайте покупку непосредственно после перехода с Системы в выбранный интернет-магазин.
                            li Всегда очищайте корзину перед началом новой покупки.
                            li По возможности совершайте покупку сразу же после перехода по ссылке с веб-витрины Системы не покидая сайт интернет-магазина.
