main.page-main
    .container
        section.catalog
            .catalog-header
                .title.title--c Акции #[sup 743]
                .filter.filter--sh
                    .filter__item
                        .filter-dropdown
                            .filter-dropdown-input
                                .multiSel 
                                .multiCount Категории #[span]
                            .filter-dropdown-body
                                input.control.filterme--js(placeholder='Введите название')
                                ul
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Одежда', id='shop1')
                                            label(for='shop1') Одежда,  аксессуары
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Техника', id='shop2')
                                            label(for='shop2') Техника, электроника
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Путешествия', id='shop3')
                                            label(for='shop3') Путешествия
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Красота', id='shop4')
                                            label(for='shop4') Красота, здоровье
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Cвязь', id='shop5')
                                            label(for='shop5') Интернет,  связь
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Дома', id='shop6')
                                            label(for='shop6') Товары  для дома
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Взрослых', id='shop7')
                                            label(for='shop7') Товары для взрослых
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Детские', id='shop8')
                                            label(for='shop8') Детские  товары
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Еда', id='shop9')
                                            label(for='shop9') Еда,  продукты
                    .filter__item
                        .filter-dropdown
                            .filter-dropdown-input
                                .multiSel 
                                .multiCount Магазины #[span]
                            .filter-dropdown-body
                                input.control.filterme--js(placeholder='Введите название')
                                ul
                                    li
                                        .checkbox
                                            input(type='checkbox', value='003', id='003')
                                            label(for='003') 003
                                    li
                                        .checkbox
                                            input(type='checkbox', value='1000 размеров ', id='1000')
                                            label(for='1000') 1000 размеров 
                                    li
                                        .checkbox
                                            input(type='checkbox', value='101 чай', id='101')
                                            label(for='101') 101 чай
                                    li
                                        .checkbox
                                            input(type='checkbox', value='123.ru', id='123')
                                            label(for='123') 123.ru 
                                    li
                                        .checkbox
                                            input(type='checkbox', value='1st-Original', id='1st-Original')
                                            label(for='1st-Original') 1st-Original
                                    li
                                        .checkbox
                                            input(type='checkbox', value='1С Интерес', id='1C')
                                            label(for='1C') 1С Интерес
                                    li
                                        .checkbox
                                            input(type='checkbox', value='21Shop', id='21Shop')
                                            label(for='21Shop') 21Shop
                                    li
                                        .checkbox
                                            input(type='checkbox', value='220 Вольт', id='220')
                                            label(for='220') 220 Вольт
                                    li
                                        .checkbox
                                            input(type='checkbox', value='22-10.ru', id='2210')
                                            label(for='2210') 22-10.ru
                                    li
                                        .checkbox
                                            input(type='checkbox', value='2 Берега', id='2b')
                                            label(for='2b') 2 Берега
                                    li
                                        .checkbox
                                            input(type='checkbox', value='4glaza.ru', id='4glaza')
                                            label(for='4glaza') 4glaza.ru
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Acoola', id='Acoola')
                                            label(for='Acoola') Acoola
                                    li
                                        .checkbox
                                            input(type='checkbox', value='adidas', id='adidas')
                                            label(for='adidas') Adidas
                                    li
                                        .checkbox
                                            input(type='checkbox', value='Alba', id='Alba')
                                            label(for='Alba') Alba
                    .filter__item.text--center
                        .checkbox
                            input(type='checkbox', id='new')
                            label(for='new') Новые акции
                .mid.mid--sm
                    .search
                        form(action='', method='post')
                            input.control(type='search', placeholder='Поиск магазина')
                            button(type='submit'): i.icon-search
            .catalog-subheader                
                include ../components/_sorting
            .catalog-body
                +cards(shares)
            .catalog-footer
                a.btn.btn--full.btn--outlined(href='#') Показать еще
            include ../components/_paginator
