main.page-main
    .container
        section.catalog
            .catalog-header
                .title Магазины #[sup 743]
                .mid
                    .search
                        form(action='', method='post')
                            input.control(type='search', placeholder='Поиск магазина')
                            button(type='submit'): i.icon-search
                    a.filter-btn.filter--js(href='#'): i.icon-filter
                .title.text--primary Избранное #[sup 12]
            .filter.filter-body--js
                .filter__item
                    select.control(style="width: 180px", data-placeholder="Страна")
                        option
                        option Россия
                        option Россия1
                        option Россия2
                .filter__item
                    select.control(style="width: 240px", data-placeholder="Интернет-магазин")
                        option
                        option Россия
                        option Россия1
                        option Россия2
                .filter__item.text--center
                    .checkbox
                        input(type='checkbox', id='vip')
                        label(for='vip') VIP предложения
            .visible__xs.visible__sm.text--center 
                a.filter--js.filter-txt--js(href='#') Расширеный поиск
            .catalog-subheader
                include ../components/_slider
                include ../components/_sorting
            .catalog-body
                +catalog(shops)
                include ../components/_mainbanner
                +catalog(shops2)
            .catalog-footer
                a.btn.btn--full.btn--outlined(href='#') Показать все
            include ../components/_paginator
