//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title
                                
mixin catalog(items)
    .catalog-items
        each item in items
            .is-col.is-col__xl-2.is-col__md-3.is-col__xs-12
                - if(item.adv !== true)
                    a.catalog__item(href='#')
                        - if(item.top === true)
                            .catalog__item-tip Топ
                        - if(item.new === true)
                            .catalog__item-tip.catalog__item-tip--red New
                        - if(item.x2 === true)
                            .catalog__item-tips
                                .catalog__item-tip x2
                                .catalog__item-tip.catalog__item-tip--red !
                        .catalog__item-fav.fav
                            input(type='checkbox', id=item.id)
                            label(for=item.id)
                        .catalog__item-logo
                            img(src=item.img, alt=item.title)
                        .shops__item--b
                            .catalog__item-name= item.title
                                br
                                | Россия
                            .catalog__item-num= item.per
                        .catalog__item-icons
                            i.icon-world
                            - if(item.icon !== false)
                                i.icon-offline
                        .catalog__item-link В магазин
                - else
                    a.catalog__item.catalog__item--serv(href='#')
                        .catalog__item-desc Продукты богатые витаминами
                        .catalog__item-name Залог вашего хорошего самочувствия, настроения, иммунитета, здоровья потенциала, жизни!
                        .catalog__item-img
                            img(src='images/iherb-logo.png', alt='')
                                
mixin catalogmain(items)
    .shops-items.slider-shop
        each item in items            
            - if(item.adv !== true)            
                .item
                    .shops__item
                        - if(item.top === true)
                            .shops__item--tip Топ
                        .shops__item--img
                            img(src=item.img, alt='')
                        .shops__item--b
                            .shops__item--name= item.title
                                br
                                | Россия
                            .shops__item--num= item.per
                                - if(item.ruble === true)
                                    span.ruble ₽
                    
mixin cards(items)
    .cards-items
        each item in items
            .cards__item
                .cards__inner
                    .cards__item-logo.visible__sm.visible__xs
                        img(src=item.img, alt=item.title)
                    .cards__item-l
                        .cards__item-num= item.per
                        .cards__item-tip
                            | Осталось
                            br
                            = item.tip
                        .cards__item-name.hidden__sm.hidden__xs= item.name
                        a.cards__item-link.hidden__sm.hidden__xs(href='#') Все акции
                    .cards__item-r
                        - if(item.news !== false)
                            .cards__item-news Новинка
                        .cards__item-logo.hidden__sm.hidden__xs
                            img(src=item.img, alt=item.title)
                        .cards__item-title= item.title
                        .cards__item-name= item.desc
                        .cards__item-footer
                            a.cards__item-link.cards__item-link--js(href='#') Подробнее
                            a.cards__item-link(href='#') В магазин
                    .cards__item-hidden
                        .triangle 
                        - if(item.promo !== true)
                            .cards__item-hidden-body
                                input.control(type='text', readonly, id='foo-'+item.id, value='STUDIO')
                                button.btn.btn--outlined(data-clipboard-demo, data-clipboard-target='#foo-'+item.id) Скопировать в буфер
                            .cards__item-txt Чтобы активировать данную акцию необходимо во время оформления заказа в поле "Промо-код" или "Код купона" ввести в данный код
                        - else
                            .cards__item-hidden-title Промокод не нужен
                            .cards__item-txt Для начисления Cash Back необходимо перейти в магазин партнера, воспользовавшись кнопкой "Перейти в магазин". Далее совершить покупку как обычно, выбрав товар, положив его в корзину и оплатив покупку.

//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    label(for=id)= label
    input.control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
    label(for=id)= label
    textarea.control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';


//- article
mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
