extends layouts/_default

block title
    title Case__fly
    - var title = 'Main'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header-a

block siteMain
    include pages/_agency
